<template>
  <v-card dark tile id="clock" :color="currentTheme.bg">
    <v-container id="clock-container" fluid>
      <div id="clock-view"></div>
      <v-fab-transition>
        <v-menu
          v-model="menu"
          :close-on-content-click="false"
          :nudge-width="300"
          offset-y
          top
          dark
          content-class="rounded-xl"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              id="clock-cog-btn"
              v-bind="attrs"
              v-on="on"
              dark
              fixed
              bottom
              right
              fab
            >
              <v-icon>mdi-cog</v-icon>
            </v-btn>
          </template>

          <v-list dark>
            <v-list-item>
              <v-select
                v-model="config.theme"
                :items="themes"
                item-text="name"
                item-value="id"
                dark
                outlined
                dense
              />
            </v-list-item>
            <v-list-item>
              <v-select
                v-model="config.font"
                :items="fonts"
                item-text="name"
                item-value="id"
                dark
                outlined
                dense
              />
            </v-list-item>

            <v-list-item>
              <v-checkbox
                v-model="config.boxShadow"
                dense
                label="Show Shadow"
                hide-details
              ></v-checkbox>
            </v-list-item>
            <v-list-item>
              <v-checkbox
                v-model="config.seconds"
                dense
                label="Show Seconds"
                hide-details
              ></v-checkbox>
            </v-list-item>
            <v-list-item>
              <v-slider
                v-model="config.cornerRadius"
                :max="1.0"
                :min="0.0"
                :step="0.01"
                hide-details
                label="Corner Radius"
              />
            </v-list-item>

            <v-list-item @click="toggleFullScreen">
              <v-list-item-icon class="mr-2">
                <v-icon v-if="isFullScreen">mdi-fullscreen-exit</v-icon>
                <v-icon v-else>mdi-fullscreen</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title> Full screen</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-fab-transition>
    </v-container>
  </v-card>
</template>

<script>
require("@/views/clock/flip/flip.min.css");
const cogKey = "config";
export default {
  data: () => {
    let defaultConfig = {
      seconds: true,
      boxShadow: true,
      theme: 1,
      cornerRadius: 1,
      font: 1,
    };
    let configCache = localStorage.getItem(cogKey);
    if (configCache) {
      try {
        let cog = JSON.parse(configCache);
        if (cog && cog.theme) {
          defaultConfig = cog;
        }
      } catch (error) {}
    }

    return {
      interval: null,
      tick: null,
      menu: false,
      isFullScreen: false,
      themes: [
        {
          id: 1,
          name: "Dark",
          bg: "#000",
          textColor: "#b7b7b7",
          panelColor: "#101010",
        },
        {
          id: 2,
          name: "Light",
          bg: "#f3f3f3",
          textColor: "#000",
          panelColor: "#e6e6e6",
        },
        {
          id: 3,
          name: "Purple",
          bg: "#2f0388",
          textColor: "#ffffff",
          panelColor: "#5b2bb8",
        },
        {
          id: 4,
          name: "Dark Purple",
          bg: "#170e32",
          textColor: "#ffffff",
          panelColor: "#292553",
        },
        {
          id: 5,
          name: "Dark Blue",
          bg: "#031f3d",
          textColor: "#ffffff",
          panelColor: "#0d3359",
        },
        {
          id: 6,
          name: "Yellow",
          bg: "#f1c40f",
          textColor: "#000000",
          panelColor: "#fffbea",
        },
        //
        {
          id: 7,
          name: "Ivory",
          bg: "#f6f6f6",
          textColor: "#000000",
          panelColor: "#fff",
        },
        {
          id: 8,
          name: "Sakura",
          bg: "#ffe0ea",
          textColor: "#fff",
          panelColor: "#f9bece",
        },
        {
          id: 9,
          name: "Sky",
          bg: "#d4f4ff",
          textColor: "#fff",
          panelColor: "#addbf0",
        },
      ],
      fonts: [
        {
          id: 1,
          name: "Default",
          value: "",
          init: "",
        },
        {
          id: 2,
          name: "Impact",
          value: "Impact, Charcoal, sans-serif",
          init: "",
        },
        {
          id: 3,
          name: "DynaPuff",
          value: "'DynaPuff', cursive",
          init: "@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');",
        },
      ],
      config: defaultConfig,
    };
  },
  computed: {
    currentTheme() {
      return this.themes.find((item) => item.id === this.config.theme);
    },
    currentFont() {
      return this.fonts.find((item) => item.id === this.config.font);
    },
    themeCss() {
      return `
        ${this.currentFont.init}
      
        .tick-flip-panel { color:  ${this.currentTheme.textColor}  !important; }
        .tick-flip-panel { background-color: ${
          this.currentTheme.panelColor
        } !important; }
        .tick-flip-shadow {
            box-shadow: ${
              this.config.boxShadow
                ? "0 0.125em 0.3125em rgb(0 0 0 / 25%), 0 0.02125em 0.06125em rgb(0 0 0 / 25%)"
                : "none"
            };
        }
        .tick-flip { border-radius:${this.config.cornerRadius}em !important; }
        .tick-flip { font-family:${this.currentFont.value} !important; }
      `;
    },
  },
  watch: {
    config: {
      handler: function (val) {
        this.resetHandle();
        this.inintStyle();

        localStorage.setItem(cogKey, JSON.stringify(val));
      },
      deep: true,
    },
    currentTheme: {
      handler: function () {
        this.inintStyle();
      },
      deep: true,
    },
  },
  methods: {
    initHandle() {
      var element = document.querySelector("#clock-view");
      const childrenValue = [
        {
          key: "hours",
          view: "flip",
          transform: "pad(00)",
          style: "color:red;",
        },
        {
          key: "minutes",
          view: "flip",
          transform: "pad(00)",
        },
      ];

      if (this.config.seconds) {
        childrenValue.push({
          key: "seconds",
          view: "flip",
          transform: "pad(00)",
        });
      }

      this.tick = Tick.DOM.create(element, {
        value: {
          hours: 0,
          minutes: 0,
          seconds: 0,
        },
        didInit: function (e) {
          Tick.helper.interval(function () {
            var d = Tick.helper.date();
            e.value = {
              hours: d.getHours(),
              minutes: d.getMinutes(),
              seconds: d.getSeconds(),
            };
          });
        },
        view: {
          children: [
            {
              root: "div",
              layout: "horizontal fit",
              children: childrenValue,
            },
          ],
        },
      });
    },
    resetHandle() {
      this.tick.baseDefinition.presenter.destroy();
      const clockContainer = document.querySelector("#clock-container");
      const newClockView = document.createElement("div");
      newClockView.id = "clock-view";
      clockContainer.appendChild(newClockView);

      this.initHandle();
    },
    toggleFullScreen() {
      if (!document.fullscreenElement) {
        document.documentElement.requestFullscreen();
      } else if (document.exitFullscreen) {
        document.exitFullscreen();
      }
    },
    inintStyle() {
      document.querySelectorAll(".clock-style").forEach((e) => e.remove());

      const styleEl = document.createElement("style");
      styleEl.classList.add("clock-style");
      styleEl.type = "text/css";
      if (styleEl.styleSheet) {
        // This is required for IE8 and below.
        styleEl.styleSheet.cssText = this.themeCss;
      } else {
        styleEl.innerHTML = "";
        styleEl.appendChild(document.createTextNode(this.themeCss));
      }
      document.head.appendChild(styleEl);
    },
  },

  mounted() {
    this.inintStyle();
    const vm = this;
    const scriptFlipFile = "/flip/flip.min.js";
    let flipScript;
    //
    if (!window.Tick) {
      flipScript = document.createElement("script");
      flipScript.setAttribute("src", scriptFlipFile);
      document.body.appendChild(flipScript);
      flipScript.addEventListener("load", function (event) {
        vm.initHandle();
      });
    } else {
      this.initHandle();
    }

    //
    setTimeout(() => {
      const cogBtn = document.getElementById("clock-cog-btn");
      cogBtn.classList.add("clock-cog-btn--ready");
    }, 5000);

    window
      .matchMedia("(display-mode: fullscreen)")
      .addEventListener("change", ({ matches }) => {
        this.isFullScreen = !!matches;
      });
  },
};
</script>


<style lang="scss">
#clock {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tick {
  font-size: 1rem;
  white-space: nowrap;
  font-family: arial, sans-serif;
}

.tick-flip,
.tick-text-inline {
  font-size: 38em;
}

.tick-label {
  margin-top: 1em;
  font-size: 1em;
}

.tick-char {
  width: 1.5em;
}

.tick-text-inline {
  display: inline-block;
  text-align: center;
  min-width: 1em;
}

.tick-text-inline + .tick-text-inline {
  margin-left: -0.325em;
}

.tick-group {
  margin: 0 0.5em;
  text-align: center;
}

body {
  background-color: #fff !important;
}

.tick-text-inline {
  color: #595d63 !important;
}

.tick-label {
  color: #595d63 !important;
}

.tick-flip-panel {
  color: #fff !important;
}

.tick-flip-panel-text-wrapper {
  line-height: 1.45 !important;
  left: -10%;
}

.tick-flip-panel {
  background-color: #3c3e3c !important;
  letter-spacing: 4px;
}

.tick-flip {
  font-weight: 900;
  flex: 1;
  width: 100%;
  //   min-width: auto;
  display: block !important;
}
.clock-cog-btn--ready {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

.tick [data-layout~="horizontal"] {
  display: flex !important;
}
</style>