<template>
  <v-theme-provider light :dark="false">
    <div id="my-love">
      <v-fade-transition>
        <div v-if="true">
          <template>
            <error-card
              v-if="errorMessage && !dataReady"
              :errorMessage="errorMessage"
              @SignOut="signOut"
            />
            <template v-else>
              <div v-if="user" class="bg-image__view">
                <svg height="0" width="0">
                  <defs>
                    <clipPath id="svgTextPath">
                      <text
                        :x="bgTextPosition.x"
                        :y="bgTextPosition.y"
                        font-size="36px"
                        font-weight="900"
                      >
                        {{ duration.asDays().toFixed() | numberFormat }}
                        <tspan font-size="20px" font-weight="400">D</tspan>
                        {{ numString(duration.get("hours")) }}
                        <tspan font-size="20px" font-weight="400">H</tspan>
                        {{ numString(duration.get("minutes")) }}
                        <tspan font-size="20px" font-weight="400">M</tspan>
                        {{ numString(duration.get("seconds")) }}
                        <tspan font-size="20px" font-weight="400">S</tspan>
                      </text>
                    </clipPath>
                  </defs>
                </svg>
                <v-img
                  width="100%"
                  :height="bgHeight"
                  src="/love-bg.jpeg"
                  gradient="to top right, rgba(100,115,201,.55), rgba(25,32,72,.8)"
                  class="bg-image"
                  position="bottom center"
                >
                  <v-layout fill-height column align-center justify-center>
                    <div class="pl-4">
                      <span
                        :class="$vuetify.breakpoint.xsOnly ? 'display-1' : 'display-2'"
                        class="font-name white--text"
                        >Hoàng Kim Đức</span
                      >
                      <small class="pl-2 grey--text text--lighten-3 text-shadow">
                        (08/09)
                      </small>
                    </div>
                    <div class="my-3">
                      <span class="divi-white divi-white-left"></span>
                      <v-icon
                        small
                        color="red lighten-1"
                        class="heart-beat px-1 text-shadow"
                        style="position: absolute; z-index: 1"
                      >
                        mdi-heart
                      </v-icon>
                      <v-icon
                        small
                        color="red lighten-1"
                        class="heart-beat px-1 text-shadow pl-4"
                        style="margin-left: -15px"
                      >
                        mdi-heart
                      </v-icon>
                      <span class="divi-white divi-white-right"></span>
                    </div>
                    <div class="pl-4">
                      <span
                        :class="$vuetify.breakpoint.xsOnly ? 'display-1' : 'display-2'"
                        class="font-name white--text"
                      >
                        Võ Thị Ngọc Vững
                      </span>
                      <small class="pl-2 grey--text text--lighten-3 text-shadow">
                        (30/04)
                      </small>
                    </div>
                    <p class="caption text-shadow py-4">Đức + Zững</p>

                    <v-card height="100" flat color="transparent"></v-card>
                  </v-layout>
                </v-img>
                <div class="bg-image__clipped">
                  <v-img
                    width="100%"
                    :height="bgHeight"
                    src="/love-bg.jpeg"
                    gradient="to top right, rgba(100,115,201,.55), rgba(25,32,72,.8)"
                    class="bg-image__clipped-background"
                    position="bottom center"
                  >
                  </v-img>
                </div>
              </div>
              <div v-if="user" class="pb-12">
                <client-only>
                  <div class="pb-2">
                    <duration-card v-if="duration" :duration="duration" />
                  </div>
                  <div class="pb-2">
                    <div>
                      <v-btn
                        v-for="item in dates"
                        :key="item.title"
                        class="date-log-btn mx-2 py-6"
                      >
                        <div>
                          <div>{{ item.date }}</div>
                          <div class="text-caption">{{ item.title }}</div>
                        </div>
                      </v-btn>
                    </div>
                  </div>
                </client-only>
                <v-divider></v-divider>

                <v-container grid-list-xs>
                  <v-timeline dark :dense="$vuetify.breakpoint.xsOnly">
                    <v-timeline-item
                      v-for="(year, i) in timelines"
                      :color="year.color"
                      :key="i"
                    >
                      <template v-slot:icon>
                        <v-avatar @click="itemAction(year)">
                          <v-icon small :color="year.textColor"> mdi-pencil</v-icon>
                        </v-avatar>
                      </template>
                      <div class="py-3">
                        <template v-if="year.edit">
                          <v-card class="edit-card rounded-xl" outlined elevation="12">
                            <div class="pa-4">
                              <v-text-field
                                label="Title"
                                v-model="formEdit.title"
                                outlined
                              >
                                <template v-slot:prepend-inner>
                                  <v-menu
                                    :ref="'menucolor_' + i"
                                    :close-on-content-click="false"
                                    :return-value.sync="formEdit.color"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                                  >
                                    <template v-slot:activator="{ on }">
                                      <v-avatar
                                        size="28"
                                        v-on="on"
                                        :color="formEdit.color"
                                        class="mr-2"
                                      >
                                      </v-avatar>
                                    </template>
                                    <v-card>
                                      <v-color-picker
                                        class="ma-2"
                                        v-model="formEdit.color"
                                        show-swatches
                                        hide-mode-switch
                                        hide-inputs
                                        hide-canvas
                                      >
                                      </v-color-picker>
                                      <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                          text
                                          color="primary"
                                          @click="
                                            $refs['menucolor_' + i][0].isActive = false
                                          "
                                        >
                                          Cancel
                                        </v-btn>
                                        <v-btn
                                          text
                                          color="primary"
                                          @click="
                                            $refs['menucolor_' + i][0].save(
                                              formEdit.color
                                            )
                                          "
                                        >
                                          OK
                                        </v-btn>
                                      </v-card-actions>
                                    </v-card>
                                  </v-menu>
                                </template>
                              </v-text-field>
                              <v-menu
                                :ref="'menu_' + i"
                                :close-on-content-click="false"
                                :return-value.sync="dateEdit"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                              >
                                <template v-slot:activator="{ on }">
                                  <v-text-field
                                    label="Date"
                                    v-model="formEdit.date"
                                    outlined
                                    readonly
                                    v-on="on"
                                  ></v-text-field>
                                </template>
                                <v-date-picker v-model="dateEdit" no-title scrollable>
                                  <v-spacer></v-spacer>
                                  <v-btn
                                    text
                                    color="primary"
                                    @click="$refs['menu_' + i][0].isActive = false"
                                    >Cancel</v-btn
                                  >
                                  <v-btn
                                    text
                                    color="primary"
                                    @click="$refs['menu_' + i][0].save(dateEdit)"
                                    >OK</v-btn
                                  >
                                </v-date-picker>
                              </v-menu>
                              <v-card @click="formEditInputClick" class="mb-12">
                                <v-img
                                  v-if="formEdit.img"
                                  :aspect-ratio="16 / 9"
                                  :src="formEdit.img"
                                  contain
                                ></v-img>
                                <v-responsive v-else :aspect-ratio="16 / 9">
                                  <div
                                    class="fill-height d-flex align-center justify-center grey--text"
                                  >
                                    Click to add an Image
                                  </div>
                                </v-responsive>
                                <v-file-input
                                  :ref="`editFileInput-${formEdit.key}`"
                                  v-show="false"
                                  :rules="rulesImg"
                                  accept="image/png, image/jpeg, image/bmp"
                                  placeholder="Pick an Image"
                                  prepend-icon="mdi-camera"
                                  label="Image"
                                  @change="formEditImgChange"
                                ></v-file-input>

                                <v-fab-transition>
                                  <v-btn
                                    v-show="formEdit.img"
                                    color="red"
                                    fab
                                    dark
                                    small
                                    absolute
                                    bottom
                                    right
                                    @click.stop="formEdit.img = null"
                                  >
                                    <v-icon>mdi-delete</v-icon>
                                  </v-btn>
                                </v-fab-transition>
                              </v-card>
                              <vue-editor
                                @update="formEdit.content = $event"
                                :content="formEdit.content"
                              ></vue-editor>

                              <div class="d-flex mx-0 pt-6">
                                <v-btn
                                  :disabled="updateLoading || deleteLoading"
                                  :loading="deleteLoading"
                                  rounded
                                  @click="openDel(year)"
                                  color="error"
                                >
                                  <v-icon> mdi-delete</v-icon>
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn
                                  :disabled="updateLoading || deleteLoading"
                                  rounded
                                  @click="year.edit = false"
                                  class="mr-2"
                                >
                                  Cancel
                                </v-btn>
                                <v-btn
                                  rounded
                                  :disabled="updateLoading || deleteLoading"
                                  :loading="updateLoading"
                                  @click="updateTimeline(year)"
                                  color="success"
                                >
                                  Update
                                </v-btn>
                              </div>
                            </div>
                          </v-card>
                        </template>

                        <template v-else>
                          <v-card light class="rounded-xl" outlined elevation="12">
                            <div class="pa-4">
                              <h2
                                :class="`text-h6 font-weight-black ${year.color}--text`"
                              >
                                {{ year.title }}
                              </h2>
                              <h6 class="text-subtitle-1 font-weight-bold grey--text">
                                {{
                                  $moment(year.date, "DD/MM/yyyy").format(
                                    "ddd DD MMMM, yyyy"
                                  )
                                }}
                              </h6>
                              <div v-if="year.img" class="pt-2">
                                <v-img
                                  class="rounded-lg black"
                                  :src="year.img"
                                  :aspect-ratio="16 / 9"
                                  contain
                                >
                                </v-img>
                              </div>
                              <div class="timeline-content">
                                <div
                                  class="timeline-content__viewer ProseMirror"
                                  v-html="year.content"
                                ></div>
                              </div>
                            </div>
                          </v-card>
                        </template>
                      </div>
                    </v-timeline-item>
                    <v-timeline-item color="green" key="add-item">
                      <template v-slot:icon>
                        <v-avatar>
                          <v-icon small color="white"> mdi-plus </v-icon>
                        </v-avatar>
                      </template>
                    </v-timeline-item>
                  </v-timeline>

                  <v-scroll-x-reverse-transition>
                    <div>
                      <v-card
                        v-show="newFormShow"
                        class="add-card rounded-xl mx-auto"
                        elevation="12"
                        max-width="500"
                      >
                        <div class="pa-4">
                          <h2 :class="`headline font-weight-light mb-3`">Thêm mới</h2>
                          <v-text-field label="Title" v-model="formNew.title" outlined>
                            <template v-slot:prepend-inner>
                              <v-menu
                                ref="menu_add_color"
                                :close-on-content-click="false"
                                :return-value.sync="formNew.color"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                              >
                                <template v-slot:activator="{ on }">
                                  <v-avatar
                                    size="28"
                                    class="mr-2"
                                    v-on="on"
                                    :color="formNew.color"
                                  >
                                  </v-avatar>
                                </template>
                                <v-card>
                                  <v-color-picker
                                    class="ma-2"
                                    v-model="formNew.color"
                                    show-swatches
                                    hide-mode-switch
                                    hide-inputs
                                    hide-canvas
                                  >
                                  </v-color-picker>
                                  <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                      text
                                      color="primary"
                                      @click="$refs['menu_add_color'].isActive = false"
                                    >
                                      Cancel
                                    </v-btn>
                                    <v-btn
                                      text
                                      color="primary"
                                      @click="$refs['menu_add_color'].save(formNew.color)"
                                    >
                                      OK
                                    </v-btn>
                                  </v-card-actions>
                                </v-card>
                              </v-menu>
                            </template>
                          </v-text-field>
                          <v-menu
                            ref="menu_add"
                            :close-on-content-click="false"
                            :return-value.sync="dateNew"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                label="Date"
                                v-model="formNew.date"
                                outlined
                                readonly
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker v-model="dateNew" no-title scrollable>
                              <v-spacer></v-spacer>
                              <v-btn
                                text
                                color="primary"
                                @click="$refs['menu_add'].isActive = false"
                                >Cancel</v-btn
                              >
                              <v-btn
                                text
                                color="primary"
                                @click="$refs['menu_add'].save(dateNew)"
                              >
                                OK
                              </v-btn>
                            </v-date-picker>
                          </v-menu>

                          <v-card outlined @click="formNewInputClick" class="mb-12">
                            <v-img
                              v-if="formNew.img"
                              :aspect-ratio="16 / 9"
                              :src="formNew.img"
                              contain
                            ></v-img>
                            <v-responsive v-else :aspect-ratio="16 / 9">
                              <div
                                class="fill-height d-flex align-center justify-center grey--text"
                              >
                                Click to add an Image
                              </div>
                            </v-responsive>
                            <v-file-input
                              ref="newFileInput"
                              v-show="false"
                              :rules="rulesImg"
                              accept="image/png, image/jpeg, image/bmp"
                              placeholder="Pick an Image"
                              prepend-icon="mdi-camera"
                              label="Image"
                              @change="formNewImgChange"
                            ></v-file-input>

                            <v-fab-transition>
                              <v-btn
                                v-show="formNew.img"
                                color="red"
                                fab
                                dark
                                small
                                absolute
                                bottom
                                right
                                @click.stop="formNew.img = null"
                              >
                                <v-icon>mdi-delete</v-icon>
                              </v-btn>
                            </v-fab-transition>
                          </v-card>

                          <vue-editor @update="formNew.content = $event"></vue-editor>

                          <div class="pt-6 d-flex">
                            <v-spacer></v-spacer>
                            <v-btn
                              :disabled="addLoading"
                              :loading="addLoading"
                              @click="addTimeline"
                              min-width="100"
                              rounded
                              color="success"
                            >
                              Submit
                            </v-btn>
                          </div>
                        </div>
                      </v-card>
                    </div>
                  </v-scroll-x-reverse-transition>
                  <div class="text-center">
                    <v-btn @click="newFormShow = !newFormShow">
                      <span v-if="!newFormShow">Create a new Card</span>
                      <span v-else>
                        <v-icon> mdi-close </v-icon>
                      </span>
                    </v-btn>
                  </div>
                </v-container>
              </div>
              <v-footer id="app-bar-love" color="black">
                <v-spacer></v-spacer>
                <v-btn v-if="user != null" text class="ma-0">
                  <v-avatar size="26" class="mr-2">
                    <v-img :src="user.photoURL"></v-img>
                  </v-avatar>

                  <span class="body-2">{{ user.displayName }}</span>
                </v-btn>
                <v-btn icon @click="signOut">
                  <v-icon>mdi-logout-variant</v-icon>
                </v-btn>
              </v-footer>
              <v-footer v-if="user">
                <v-container>
                  <v-layout justify-center row wrap>
                    <v-flex lighten-2 py-3 text-xs-center xs12 class="text-caption">
                      From 2018 —
                      <span>kimduc.dev</span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-footer>
              <v-dialog v-model="delDialog" persistent max-width="290">
                <v-card>
                  <v-card-title class="headline">Xác nhận</v-card-title>
                  <v-card-text>Bạn có chắc chắn muốn xóa mục này?</v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="delDialog = false"
                      >Cancel</v-btn
                    >
                    <v-btn color="green darken-1" text @click="delTimelineItem">
                      OK
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <template v-if="user">
                <audio id="myAudio" controls>
                  <source
                    src="https://directory.audio/media/fc_local_media/audio_preview/wayne%20jones%20-%20first%20love%20-happy-.mp3"
                    type="audio/mpeg"
                  />
                  Your browser does not support the audio element.
                </audio>

                <v-fab-transition>
                  <v-btn
                    color="white"
                    small
                    light
                    fixed
                    top
                    right
                    fab
                    @click="audioHandle"
                  >
                    <v-icon v-if="!audio">mdi-volume-off </v-icon>
                    <v-icon v-else>mdi-volume-high</v-icon>
                  </v-btn>
                </v-fab-transition>
              </template>
            </template>
          </template>
        </div>
        <div
          v-else
          class="d-flex align-center justify-center text--text flex-column"
          style="height: 100vh"
        >
          <v-progress-circular
            indeterminate
            color="primary"
            size="42"
            class="mb-3"
          ></v-progress-circular>
          <div>Verifying account...</div>
        </div>
      </v-fade-transition>
    </div>
  </v-theme-provider>
</template>

<script>
import {
  GoogleAuthProvider,
  onAuthStateChanged,
  signInWithPopup,
  signOut,
} from "@firebase/auth";

import { db, auth, storage } from "@/utils/firebase";
import { collection, addDoc, doc, writeBatch, onSnapshot } from "@firebase/firestore";
import { ref, uploadBytes, getDownloadURL, deleteObject } from "@firebase/storage";
import { getTextColor, makeid } from "@/utils";
//
import VueEditor from "@/components/VueEditor/Index.vue";
import LoginCard from "@/components/Love/LoginCard.vue";
import ErrorCard from "@/components/Love/ErrorCard.vue";
import DurationCard from "@/components/Love/DurationCard.vue";


export default {
  layout: "love",
  components: {
    VueEditor,
    LoginCard,
    ErrorCard,
    DurationCard,

  },
  data() {
    return {
      isPaused: false,
      ready: false,
      dataReady: false,
      audio: false,
      player: null,
      //
      unsubscribe: null,
      menu: false,
      delDialog: false,
      dateEdit: null,
      dateNew: null,
      colorEdit: null,
      colorNew: null,
      formEdit: {
        date: "",
        title: "",
        content: "",
        color: "#FF00FF",
        img: null,
        file: null,
        baseImg: null,
      },
      formNew: {
        date: "",
        title: "",
        content: "",
        color: "#FF00FF",
        img: null,
        file: null,
      },
      itemCurrent: null,
      //
      code: null,
      error_login: null,
      count: 0,
      duration: this.$moment.duration(this.$moment()),
      cam_nang: this.$moment("25/08/2018 21:00:00", "DD/MM/YYYY HH:mm:ss"),

      timelines: [],
      errorMessage: null,
      editor: null,
      rulesImg: [
        (value) =>
          !value || value.size < 2000000 || "Avatar size should be less than 2 MB!",
      ],
      updateLoading: false,
      addLoading: false,
      deleteLoading: false,
      newFormShow: false,

      dates: [
        {
          date: "30/04/1998",
          title: "Sinh nhật Em",
        },
        {
          date: "08/09/1998",
          title: "Sinh nhật Anh",
        },

        {
          date: "25/08/2018",
          title: "Ngày đầu gặp nhau",
        },
        {
          date: "19/11/2018",
          title: "Anh tỏ tình",
        },
        {
          date: "09/04/2023",
          title: "Cưới nhà Nữ",
        },
        {
          date: "07/05/2023",
          title: "Cưới nhà Nam",
        },
      ],
    };
  },
  watch: {
    dateEdit: function (val, oldVal) {
      this.formEdit.date = this.gettanggal(val);
    },
    dateNew: function (val, oldVal) {
      this.formNew.date = this.gettanggal(val);
    },
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
    bgTextPosition() {
      const windowW = this.$vuetify.breakpoint.width;
      const w = 340;
      return {
        x: windowW / 2 - w / 2,
        y: 500,
      };
    },
    bgHeight() {
      return window.innerHeight - 58;
    },
  },

  methods: {
    numString(val) {
      if (val >= 0 && val <= 9) {
        return "0" + val;
      }
      return val;
    },
    gettanggal(str) {
      if (str != null) {
        return (
          str.substring(8, 10) + "/" + str.substring(5, 7) + "/" + str.substring(0, 4)
        );
      }
      return "";
    },

    itemAction(item) {
      if (item.add) {
        this.newFormShow = true;
      } else {
        item.edit = !item.edit;
        this.formEdit.key = item[".key"];
        this.formEdit.title = item.title;
        this.formEdit.date = item.date;
        this.formEdit.content = item.content;
        this.formEdit.color = item.color;
        this.formEdit.img = item.img;
        this.formEdit.baseImg = item.baseImg;
      }
    },
    openDel(item) {
      this.itemCurrent = item;
      this.delDialog = true;
    },
    async addTimeline() {
      this.addLoading = true;
      var imgName = null;
      if (this.formNew.img) {
        const file = this.formNew.file;
        imgName = `mylove/${makeid(9)}.${file.name.split(".").pop()}`;
        const storageRef = ref(storage, imgName);
        const snapshot = await uploadBytes(storageRef, file);
      }

      const newData = {
        date: this.formNew.date,
        title: this.formNew.title,
        content: this.formNew.content,
        color: this.formNew.color,
        img: imgName,
      };

      addDoc(collection(db, "timelines"), newData);

      this.formNew = {
        date: "",
        title: "",
        content: "",
        color: "#FF00FF",
        img: null,
        file: null,
      };
      this.addLoading = false;
    },
    async updateTimeline(item) {
      this.updateLoading = true;
      var imgName = "";

      if (this.formEdit.baseImg) {
        if (this.formEdit.img !== item.img) {
          try {
            // delete img
            const imgRef = ref(storage, this.formEdit.baseImg);
            await deleteObject(imgRef);
          } catch (error) {}
        } else {
          imgName = this.formEdit.baseImg;
        }
      }

      // new img
      if (this.formEdit.file) {
        const file = this.formEdit.file;
        imgName = `mylove/${makeid(9)}.${file.name.split(".").pop()}`;
        const storageRef = ref(storage, imgName);
        const snapshot = await uploadBytes(storageRef, file);
      }

      const batch = writeBatch(db);

      const editData = {
        date: this.formEdit.date,
        title: this.formEdit.title,
        content: this.formEdit.content,
        color: this.formEdit.color,
        img: imgName,
      };

      const itemRef = doc(db, "timelines", item[".key"]);
      batch.update(itemRef, editData);
      batch.commit();

      item.edit = false;
      this.delDialog = false;
      this.updateLoading = false;

      this.formEdit = {
        date: "",
        title: "",
        content: "",
        color: "#FF00FF",
        img: null,
        file: null,
        baseImg: null,
      };
    },
    async delTimelineItem() {
      this.deleteLoading = true;
      if (this.itemCurrent.baseImg) {
        try {
          // delete img
          const imgRef = ref(storage, this.itemCurrent.baseImg);
          await deleteObject(imgRef);
        } catch (error) {}
      }

      const batch = writeBatch(db);
      const itemRef = doc(db, "timelines", this.itemCurrent[".key"]);
      batch.delete(itemRef);
      batch.commit();

      this.itemCurrent.edit = false;
      this.itemCurrent = null;
      this.delDialog = false;
      this.deleteLoading = false;
    },

    signOut() {
      signOut(auth)
        .then(() => {
          console.log("Sign-out successful.");
          this.user = null;
          this.errorMessage = null;
        })
        .catch((error) => {
          console.log("An error happened.");
        });
    },
    firebaseProcess() {
      this.unsubscribe = onSnapshot(
        collection(db, "timelines"),
        (snapshot) => {
          var timelines = [];
          snapshot.forEach(function (doc) {
            timelines.push({
              ".key": doc.id,
              ...doc.data(),
            });
          });
          timelines.sort((a, b) => {
            var c = this.$moment(a.date, "DD/MM/YYYY").toDate();
            var d = this.$moment(b.date, "DD/MM/YYYY").toDate();
            return c - d;
          });
          this.timelines = [...timelines].map((item) => {
            item.textColor = getTextColor(item.color);
            if (item.img) {
              item.baseImg = item.img;
              getDownloadURL(ref(storage, item.img)).then((url) => {
                item.img = url;
              });
            }

            return item;
          });
          this.errorMessage = null;
          this.dataReady = true;
        },
        (error) => {
          this.errorMessage = error.message;
          this.dataReady = false;
        }
      );
    },
    audioHandle() {
      if (process.browser) {
        var x = document.getElementById("myAudio");
        if (this.audio) {
          x.pause();
        } else {
          x.play();
        }
        this.audio = !this.audio;
      }
    },
    onPlayerReady(event) {
      event.target.setVolume(0);
      event.target.playVideo();
      event.target.setLoop(true);
    },
    onStateChange(e) {
      console.log("video status", e.data);
      if (e.data === 0 || e.data === 2) {
        e.target.playVideo();
      }
    },
    formNewImgChange(file) {
      if (file) {
        this.formNew.file = file;
        this.formNew.img = URL.createObjectURL(file);
      }
    },
    formNewInputClick() {
      const el = this.$refs.newFileInput.$el;

      el.querySelector("input").click();
    },
    formEditImgChange(file) {
      if (file) {
        this.formEdit.file = file;
        this.formEdit.img = URL.createObjectURL(file);
      }
    },
  
  },
  beforeDestroy() {
    if (this.unsubscribe) this.unsubscribe();
  },
  mounted() {
    //
    setInterval(() => {
      this.duration = this.$moment.duration(this.$moment().diff(this.cam_nang));
    }, 500);
    //
    this.firebaseProcess();
  },

  beforeCreate() {
    if (process.browser) {
      var tag = document.createElement("script");

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName("script")[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    }
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

#app-bar-love {
}

#myAudio {
  display: none;
}
.video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  overflow: hidden;
  padding-top: 56.25%;
  ::v-deep {
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
::v-deep {
  .v-responsive__content {
    #player {
      position: absolute;
      left: 0;
      top: 0;
    }
    .layout {
      position: relative;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.font-name {
  font-family: "Dancing Script", cursive !important;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.text-shadow {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.divi-white {
  display: inline-block;
  height: 1px;
  width: 125px;
  margin-bottom: 5px;
  &.divi-white-left {
    background-image: linear-gradient(to left, #fff, transparent);
  }
  &.divi-white-right {
    background-image: linear-gradient(to right, #fff, transparent);
  }
}

.heart-beat {
  transform: scale(0px);
  animation: heartbeat 0.8s linear infinite;
}
.timeline-content {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: -1px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 90%);
    z-index: 2;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    top: -1px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), #fff 90%);
    z-index: 2;
  }

  &__viewer {
    padding: 40px 0;
    max-height: 400px;
    overflow-y: auto;
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
</style>

<style lang="scss">
.date-log-btn {
  text-transform: unset !important;
}
#my-love {
  background-color: #eee;
  .bg-image {
    position: relative;
    .v-image__image {
      background-attachment: fixed;
      background-size: cover !important;
    }

    &__view {
      & > svg {
        position: absolute;
      }
    }

    &__clipped {
      filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.3))
        drop-shadow(0 0 1px rgba(0, 0, 0, 0.1));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &-background {
        clip-path: url(#svgTextPath);
        filter: blur(10px) brightness(1.2);
      }

      .v-image__image {
        background-attachment: fixed;
        background-size: cover !important;
      }
    }
  }
  .v-timeline-item__dot {
    cursor: pointer;
  }
  .v-card.elevation-12 {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05) !important;
  }
}

.mobile {
  &.v-application--is-ltr .v-timeline--dense:not(.v-timeline--reverse):before {
    left: calc(50% - 1px);
  }
  .v-timeline-item {
    .v-timeline-item__body {
      max-width: calc(100% - 48px) !important;
    }
    .v-timeline-item__divider {
      min-width: 48px !important;
    }

    .add-card {
      min-width: 100vw;
      margin-left: -59px;
    }
  }
  .v-timeline--dense {
    .v-timeline-item {
      flex-direction: column-reverse !important;
      .v-timeline-item__body {
        max-width: 100% !important;
        .v-card.elevation-12 {
          padding-top: 30px;
        }
      }
      .v-timeline-item__divider {
        margin-bottom: -30px;
      }

      &:last-child {
        .v-timeline-item__divider {
          display: none;
        }
      }
    }
  }
}
</style>
