<template>
    <v-container>Chat
        <v-card v-if="user">
            <v-card-title class="py-0">
                <v-list>
                    <v-list-tile avatar>
                        <v-list-tile-avatar color="grey">
                            <img :src="user.photoURL||require('../assets/logo.png')" alt="alt">
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>{{user.email}}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text ref="panel_chat" class="scroll-y white" style="height:400px">
                <transition-group name="fade-transition" tag="div">
                    <v-card-title v-for="message in messaging" :key="message.key">
                        <v-spacer v-if="user.uid === message.uid"></v-spacer>
                        <div v-if="user.uid === message.uid" class="d-flex">
                            <v-icon color="grey" small @click="removeItem(message.key)">close</v-icon>
                            <div class="body-2 full-radius mx-3 px-3 py-2 cyan white--text" style="max-width:300px;">{{message.content}}</div>
                        </div>
                        <div v-else class="d-flex">
                            <!-- <v-avatar size="36" color="grey">
                                <img :src="message.photoURL||require('../assets/logo.png')" alt="Avatar">
                            </v-avatar> -->
                            <div class="body-2 full-radius mx-3 px-3 py-2 grey lighten-1 white--text" style="max-width:300px;">{{message.content}}</div>
                            <v-icon color="grey" small @click="removeItem(message.key)">close</v-icon>
                        </div>
                    </v-card-title>
                </transition-group>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-text-field hide-details solo flat background-color="grey lighten-4" append-icon="send" placeholder="Aa" v-model="input_message" @keyup.enter="addItem"></v-text-field>
            </v-card-actions>
        </v-card>
        <v-dialog v-model="dialog_login" fullscreen>
            <v-layout column fill-height align-center justify-center class="grey darken-4">
                <v-card width="350">
                    <v-card-title primary-title class="title">
                        <v-spacer></v-spacer>
                        <v-icon large class="mr-2">comment</v-icon> Chat Sign In
                        <v-spacer></v-spacer>
                    </v-card-title>
                    <v-card-text>
                        <v-text-field @focus="error_message=null" solo flat background-color="grey lighten-4" placeholder="Email" v-model="email_login" browser-autocomplete="username"></v-text-field>
                        <v-text-field @focus="error_message=null" solo flat background-color="grey lighten-4" placeholder="Password" type="password" browser-autocomplete="currentpassword" v-model="password_login" @keyup.enter="signIn()"></v-text-field>
                        <p class="error--text">{{error_message||'&nbsp;'}}</p>
                    </v-card-text>
                    <v-card-actions>
                        <!-- <v-spacer></v-spacer> -->
                        <v-btn dark block large depressed color="cyan" @click="signIn()">Sign In</v-btn>
                    </v-card-actions>
                </v-card>
            </v-layout>
        </v-dialog>
    </v-container>
</template>

<script>
export default {
  data() {
    return {
      dialog_login: false,
      email_login: null,
      password_login: null,
      error_message: null,
      room_id: 1,
      room_db: null,
      input_message: null,
      messaging: [],
      current_member: {
        id: "123"
      },
      time_out_scroll: null
    };
  },
  computed: {
    user() {
      return this.$store.state.user;
    }
  },
  methods: {
    getMessageByRoomId(id) {
      this.room_db = this.$store.state.db.ref(
        "messaging/rooms/" + id + "/children"
      );

      this.room_db.on("value", snap => {
        this.messaging = [];
        snap.forEach(childSnap => {
          let data = childSnap.val();
          data.key = childSnap.key;
          this.messaging.push(data);
        });

        // scroll bttom
        if (this.time_out_scroll) clearTimeout(this.time_out_scroll);
        this.time_out_scroll = setTimeout(() => {
          if (this.$refs.panel_chat) {
            this.$refs.panel_chat.scrollTop =
              this.$refs.panel_chat.scrollHeight + 100;
          }
        }, 500);
      });
    },
    addItem() {
      this.room_db.push({
        content: this.input_message,
        time: "2018-10-09 22:22:22",
        uid: this.$store.state.user.uid
      });
      this.input_message = null;
    },
    removeItem(key) {
      console.log("remove ", key);

      this.room_db.child(key).remove();
    },
    signUp() {
      this.$store.state.auth
        .createUserWithEmailAndPassword(this.email_login, this.password_login)
        .then(
          res => {
            this.$store.dispatch("setUser", res.user);
            this.dialog_login = false;
          },
          err => {
            console.error(err);
          }
        );
    },
    signIn() {
      this.$store.state.auth
        .signInWithEmailAndPassword(this.email_login, this.password_login)
        .then(
          res => {
            this.$store.dispatch("setUser", res.user);
            this.dialog_login = false;
          },
          err => {
            if (err.code === "auth/user-not-found") {
              // Sign Up
              this.signUp();
            }
            this.error_message = err.message;
          }
        );
    }
  },
  mounted() {
    this.getMessageByRoomId(1);
    if (!this.$store.state.user) {
      this.dialog_login = true;
    }
  }
};
</script>

<style>
.first-radius {
  border-radius: 28px 6px 28px 28px;
}
.full-radius {
  border-radius: 28px;
}
</style>
