<script>
export default {
  data() {
    return {
      items: [
        {
          name: "Hoang Kim Duc",
          avatar: "https://avatars1.githubusercontent.com/u/22253357?s=460&v=4"
        },
        {
          name: "Ngo Le Tuan Kiet",
          avatar: "https://avatars1.githubusercontent.com/u/22253357?s=460&v=4"
        },
        {
          name: "Dang Hoang Hai Dang",
          avatar: "https://avatars1.githubusercontent.com/u/22253357?s=460&v=4"
        }
      ]
    };
  },
  render(h) {
    h.toString();
    return (
      <v-list twoline>
        {this.items.map(item => (
          <v-list-tile key={item.name}>
            <v-list-tile-avatar>
              <img src={item.avatar} />
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{item.name}</v-list-tile-title>
              <v-list-tile-sub-title>
                Vue is a progressive framework for building user interfaces
              </v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        ))}
      </v-list>
    );
  }
};
</script>

<style>
</style>
