<script>
export default {
  data() {
    return {
      items: [1, 2],
    };
  },
  render() {
    const btnList = this.items.map((item) => (
      <VListItem key={item}>
        <VListItemAvatar>
          <VImg
            src={`https://cdn.vuetifyjs.com/images/lists/${item}.jpg`}
          ></VImg>
        </VListItemAvatar>
        <VListItemContent>
          <VListItemTitle>Brunch this weekend?</VListItemTitle>
          <VListItemSubtitle>I'll be in your neighborhood</VListItemSubtitle>
        </VListItemContent>
      </VListItem>
    ));
    return (
      <div class="pa-6">
        <h1>Vue.js</h1>
        <VList class="py-4">{btnList}</VList>
        <VCard width="300">
          <VCardTitle class="c-custom">Card title</VCardTitle>
          <VCardText>
            BeforeCreate Called synchronously immediately after the instance has
          </VCardText>
          <VCardActions>
            <VSpacer />
            <VBtn text>Cancel</VBtn>
            <VBtn text color="primary">
              OK
            </VBtn>
          </VCardActions>
        </VCard>
      </div>
    );
  },
};
</script>

<style lang="scss">
.c-custom {
  color: red;
}
</style>
