<template>
  <v-container fluid grid-list-md>
    <v-card dark>
      <v-card-title primary-title>
        <h3 class="headline">Javascript Smart</h3>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <p class="caption">Please open Developer Tools </p>
        <v-btn color="red" @click="consoleCss">Console CSS</v-btn>
        <br>
        <v-btn color="pink" @click="consoleTrace">console Trace</v-btn>
        <br>
        <v-btn color="success" @click="consoleGroup">console Group</v-btn>
        <br>
        <v-btn color="cyan" @click="consoleTable">console Table</v-btn>
        <br>
        <v-btn light @click="consoleClear">console Clear</v-btn>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      text: "aa"
    };
  },
  methods: {
    consoleCss() {
      let origin = location.origin;
      console.log(
        "%cJavaScript",
        "font-size:50px;font-weight:100;font-family:sans-serif;text-shadow: 1px 1px 1px #000;color:#fff;background-color:#263238;padding:10px 50px;border-radius:4px;"
      );
      console.log(
        "%c %cVue.js %c(Javascript Framework)",
        "padding:4px 10px;background-image:url(" +
          origin +
          "/images/vue.png);background-size:20px;background-repeat:no-repeat;",
        "color:#424242;font-weight:bold;;font-size:12px;",
        "color:#757575;font-weight:thin;font-size:10px;"
      );
      console.log(
        "%c %cNuxt.js %c(Vue.js SSR)",
        "padding:4px 10px;background-image:url(" +
          origin +
          "/images/nuxt.png);background-size:20px;background-repeat:no-repeat;",
        "color:#424242;font-weight:bold;;font-size:12px;",
        "color:#757575;font-weight:thin;font-size:10px;"
      );
      console.log(
        "%c %cVuetify.js %c(Vue.js Material Components)",
        "padding:4px 10px;background-image:url(" +
          origin +
          "/images/vuetify.png);background-size:20px;background-repeat:no-repeat;",
        "color:#424242;font-weight:bold;;font-size:12px;",
        "color:#757575;font-weight:thin;font-size:10px;"
      );
    },
    consoleTrace() {
      var a = () => {
        console.trace("Function");
      };
      a();
    },
    consoleGroup() {
      console.group("data 1");
      console.group("data 1.1");
      console.groupEnd();
      console.group("data 1.2");
      console.groupEnd();
      console.groupEnd();
    },
    consoleTable() {
      let arr = [
        { id: 1, name: "Hoang Kim Duc" },
        { id: 2, name: "Ngo Le Tuan Kiet" },
        { id: 3, name: "Dang Hoang Hai Dang" }
      ];
      console.table(arr);
    },
    consoleClear() {
      console.clear();
    }
  }
};
</script>

<style>
</style>
