<template>
  <v-container fill-height fluid justify-center class="grey darken-3 pa-5">
    <v-card flat width="350" height="300">
      <v-card-title primary-title class="title primary white--text">
        Date Range Picker
      </v-card-title>
      <v-card-text>
        <v-date-range-picker v-model="date"></v-date-range-picker>
        <code>{{date}}</code>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import VDateRangePicker from "../components/DateRangePicker.vue";
export default {
  components: {
    VDateRangePicker
  },
  data() {
    return {
      date: {}
    };
  }
};
</script>

<style>
</style>
