<template>
  <v-container fill-height fluid justify-center class="grey darken-3 pa-5">
    <v-card flat>
      <v-card-title primary-title class="title primary white--text">
        D-ColorPicker
      </v-card-title>

      <v-subheader>Color</v-subheader>
      <v-card-text>
        <d-color-picker></d-color-picker>
      </v-card-text>
      <v-subheader>Value</v-subheader>

    </v-card>
  </v-container>
</template>

<script>
import DColorPicker from "../components/DColorPicker.vue";
export default {
  components: {
    DColorPicker
  },
  data() {
    return {};
  }
};
</script>

<style>
</style>
