<template>
  <div class="fill-height">
    <v-container class="fill-height">
      <v-row justify="space-between">
        <v-col cols="12" class="float">
          <h1
            class="
              text-h4 text-sm-h3 text-md-h2 text-xl-h1
              my-6
              font-weight-black
              text--primary
            "
          >
            Never Stop Learning,<br />
            Because Life Never Stops<br />
            Teaching
          </h1>
          <div class="title font-weight-regular text--secondary">
            <p>I'm KimDuc, a Software Developer.</p>
            <!-- <p>
            You can find me on
            <a href="https://github.com/HoangKimDuc" target="_blank">GitHub</a>
            and
            <a href="https://www.facebook.com/hoang.kim.duc.me/" target="_blank"
              >Facebook</a
            >.
          </p> -->
          </div>
        </v-col>
        <v-col cols="12">
          <v-list color="transparent">
            <v-list-item class="px-0">
              <v-list-item-avatar>
                <v-img src="/images/avatar.jpg"></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title
                  >HoangKimDuc, Software Developer</v-list-item-title
                >
                <v-list-item-subtitle>kimduc10a@gmail.com</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-col>
        <v-col>
          <Earth></Earth>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
// @ is an alias to /src
import Earth from "@/components/Earth";
export default {
  name: "Home",
  components: {
    Earth,
  },
  data() {
    return {
      showContent: false,
    };
  },
  mounted() {
    // document.querySelector("html").style.overflow = "hidden";
  },
  methods: {
    showContentHandle() {
      this.showContent = true;
    },
  },
};
//
</script>
<style lang="scss">
.c-down-button {
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
</style>
