<template>
    <v-container fill-height fluid grid-list-md class="vue-grey-color">
        <v-layout justify-center align-center>
            <v-flex xs12 sm7 md5>
                <v-card dark flat class="transparent mb-5">
                    <v-card-title>
                        <v-spacer></v-spacer>
                        <v-avatar class="elevation-4" size="120" color="white">
                            <img src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-1/p160x160/31073238_231065850972123_2329470960043819008_n.jpg?_nc_cat=0&oh=5d9ae0359f4ae0a433e431ca28c79af4&oe=5C093438" alt="Avatar">
                        </v-avatar>
                        <v-spacer></v-spacer>
                    </v-card-title>
                    <v-card-text>
                        <h3 class="display-1 font-weight-light text-xs-center mb-3">Hoàng Kim Đức</h3>
                        <div class="text-xs-center grey--text text--lighten-2">
                            <p>
                                <v-icon class="mr-2" size="17">mail_outline</v-icon>kimduc10a@gmail.com
                            </p>
                            <p>
                                <v-icon class="mr-2" size="17">place</v-icon>Da Nang, Viet Nam
                            </p>
                        </div>
                    </v-card-text>
                    <v-card-text>
                        <v-container fluid>
                            <v-layout row wrap>
                                <v-flex v-for="menu in menus" :key="menu.title" xs12 sm4>
                                    <v-card :to="menu.to" class="fill-height" :class="menu.color||'vue-green-color'">
                                        <v-card-text class="text-xs-center">
                                            <div class="mb-2">
                                                <v-icon size="50">{{menu.icon}}</v-icon>
                                            </div>
                                            <div>
                                                {{menu.title}}
                                            </div>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
  data() {
    return {
      menus: [
        {
          icon: "person",
          title: "Profile",
          to: "/profile",
          color: "red"
        },
        {
          icon: "opacity",
          title: "Watch",
          to: "/watch"
        },
        {
          icon: "bubble_chart",
          title: "Object"
        },
        {
          icon: "bubble_chart",
          title: "Progressbar",
          to: "/progressbar",
          color: "blue"
        },
        {
          icon: "format_color_fill",
          title: "Color Picker",
          to: "/dcolorpicker",
          color: "pink"
        },
        {
          icon: "event",
          title: "Date Range Picker",
          to: "/daterangepicker"
        },
        {
          icon: "widgets",
          title: "Component Functional",
          to: "/componentfunctional"
        },
        {
          icon: "widgets",
          title: "Component Render",
          to: "/componentrender"
        },
        {
          icon: "widgets",
          title: "Console",
          to: "/console",
          color: "orange"
        },
        {
          icon: "layers",
          title: "DDialogPage",
          to: "/ddialogpage",
          color: "grey"
        },
        {
          icon: "layers",
          title: "DTablePage",
          to: "/dtablepage",
          color: "grey"
        },
        {
          icon: "comment",
          title: "Chat",
          to: "/chat",
          color: "cyan"
        }
      ]
    };
  }
};
</script>

<style>
</style>
