<template>
  <v-container fill-height fluid grid-list-xl class="vue-grey-color pa-0">
    <v-layout justify-center>
      <v-flex xs12 md8 class="pa-0">
        <v-card tile width="100%">
          <v-img height="390" :src="require('@/assets/bg1.jpg')">
            <v-layout fill-height column align-center justify-end>
              <v-avatar size="150" color="orange">
                <img
                  src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-1/p160x160/31073238_231065850972123_2329470960043819008_n.jpg?_nc_cat=0&oh=5d9ae0359f4ae0a433e431ca28c79af4&oe=5C093438"
                  alt="alt"
                />
              </v-avatar>
              <h2 class="display-1 font-weight-light my-3">Hoang Kim Duc</h2>
              <h3 class="font-weight-light mb-4">Front-end Developer</h3>
            </v-layout>
          </v-img>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-layout row wrap>
                    <v-flex xs12 sm6 class="pb-0">
                      <v-list class="pb-0">
                        <v-list-tile>
                          <v-list-tile-content>
                            <v-list-tile-title>
                              <span class="font-weight-medium mr-3">Phone Number:</span>
                              +841 684 851 414</v-list-tile-title
                            >
                          </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile>
                          <v-list-tile-content>
                            <v-list-tile-title>
                              <span class="font-weight-medium mr-3">Email:</span>
                              kimduc10a@gmail.com</v-list-tile-title
                            >
                          </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile class="hidden-sm-and-up">
                          <v-list-tile-content>
                            <v-list-tile-title>
                              <span class="font-weight-medium mr-3">Born:</span>
                              September 18, 1998</v-list-tile-title
                            >
                          </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile class="hidden-sm-and-up">
                          <v-list-tile-content>
                            <v-list-tile-title>
                              <span class="font-weight-medium mr-3">Gender:</span
                              >Male</v-list-tile-title
                            >
                          </v-list-tile-content>
                        </v-list-tile>
                      </v-list>
                    </v-flex>
                    <v-flex xs12 sm6 class="hidden-xs-only pb-0">
                      <v-list class="pb-0">
                        <v-list-tile>
                          <v-list-tile-content>
                            <v-list-tile-title class="text-xs-right">
                              <span class="font-weight-medium mr-3">Born:</span>
                              September 18, 1998</v-list-tile-title
                            >
                          </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile>
                          <v-list-tile-content>
                            <v-list-tile-title class="text-xs-right">
                              <span class="font-weight-medium mr-3">Gender:</span
                              >Male</v-list-tile-title
                            >
                          </v-list-tile-content>
                        </v-list-tile>
                      </v-list>
                    </v-flex>
                    <v-flex xs12 class="py-0">
                      <v-list class="py-0">
                        <v-list-tile class="py-0">
                          <v-list-tile-content>
                            <v-list-tile-title>
                              <span class="font-weight-medium mr-3">Address:</span>K79/12
                              Vo Duy Ninh, Tho Quang, Son Tra, Da Nang</v-list-tile-title
                            >
                          </v-list-tile-content>
                        </v-list-tile>
                      </v-list>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs12>
                  <v-subheader>About me</v-subheader>
                  <v-divider></v-divider>
                  <v-layout row wrap>
                    <v-flex xs12 class="pa-4">
                      <p class="subheading">
                        I have over 1.5 years experience working with Front-End and 1 year
                        working with Hybrid Mobile App. I am an amateur programmer
                      </p>
                      <p class="subheading">
                        Below are the technologies and programming languages at which I
                        worked with them:
                      </p>
                    </v-flex>
                    <v-flex xs12>
                      <v-layout row wrap>
                        <v-flex
                          v-for="(tech, index) in techs"
                          :key="index"
                          xs6
                          md4
                          class="text-xs-center"
                        >
                          <v-avatar tile size="50" color="white">
                            <img :src="require('../assets/' + tech.icon)" alt="alt" />
                          </v-avatar>
                          <h3 class="py-2 grey--text subheading" v-html="tech.name"></h3>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs12>
                  <v-subheader>Work Experience</v-subheader>
                  <v-divider></v-divider>
                  <v-layout row wrap>
                    <v-flex xs12 sm6>
                      <v-list>
                        <v-list-tile>
                          <v-list-tile-content>
                            <v-list-tile-title>
                              <span class="font-weight-medium">AzWebPlus co., Ltd</span>
                            </v-list-tile-title>
                            <v-list-tile-title>
                              <span class="orange--text font-weight-medium mr-3"
                                >JUNE 2017 - PRESENT</span
                              >
                            </v-list-tile-title>
                          </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile>
                          <v-list-tile-content>
                            <v-list-tile-title>
                              Lead Front-End Developer</v-list-tile-title
                            >
                          </v-list-tile-content>
                        </v-list-tile>
                      </v-list>
                    </v-flex>
                    <v-flex xs12 sm6 class="px-5">
                      <p class="subehading grey--text">I did the following job :</p>
                      <p>
                        <v-icon size="17" color="orange">chevron_right</v-icon> Front-End
                        Developer
                      </p>
                      <p>
                        <v-icon size="17" color="orange">chevron_right</v-icon> Designer
                        Mobile App
                      </p>
                      <p>
                        <v-icon size="17" color="orange">chevron_right</v-icon> Tester
                      </p>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      techs: [
        {
          icon: "html.png",
          name: "HTML & CSS",
        },
        {
          icon: "es6.png",
          name: "ECMAScript 6",
        },
        {
          icon: "vue.png",
          name: "Vue.js",
        },
        {
          icon: "nuxt.png",
          name: 'Nuxt.js <span class="caption">(Vue Framework)</span>',
        },
        {
          icon: "vuetify.png",
          name: 'Vuetify.js <span class="caption">(VueComponent Framework)</span>',
        },
        {
          icon: "cordova.png",
          name: "Apache Cordova",
        },
        {
          icon: "electron.png",
          name: "Electron",
        },
        {
          icon: "jquery.png",
          name: "JQuery",
        },
      ],
    };
  },
};
</script>

<style></style>
