<template>
  <v-container fill-height fluid justify-center class="grey darken-3 pa-5">
    <v-card flat>
      <v-card-title primary-title class="title primary white--text">
        D-ProgressBar
      </v-card-title>

      <v-subheader>Color</v-subheader>
      <v-card-text>
        <v-btn fab small color="cyan" @click="color = '0, 188, 212'"></v-btn>
        <v-btn fab small color="red" @click="color = '244, 67, 54'"></v-btn>
        <v-btn fab small color="green" @click="color = '76, 175, 80'"></v-btn>
        <v-btn fab small color="yellow darken-1" @click="color = '253, 216, 53'"></v-btn>
        <v-btn fab small color="pink" @click="color = '233, 30, 99'"></v-btn>
        <v-btn fab small color="blue" @click="color = '33, 150, 243'"></v-btn>
        <v-btn fab small color="grey" @click="color = '158, 158, 158'"></v-btn>
      </v-card-text>
      <v-subheader>Value</v-subheader>
      <v-card-text>
        <!-- <v-text-field max="100" min="0" label="Value" type="number" v-model="value"></v-text-field> -->
        <v-slider v-model="value" step="1" min="0" max="100"></v-slider>
        <v-switch color="success" label="Light Box" v-model="light"></v-switch>
      </v-card-text>
      <v-card-text class="grey darken-3">
        <d-progressbar v-model="value" :light="light" :color="color"></d-progressbar>
      </v-card-text>
      <v-card-actions>
        Idea:
        <a class="px-2" href="https://tympanus.net/Tutorials/CSSProgress/" target="_blank">https://tympanus.net/Tutorials/CSSProgress</a>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import DProgressbar from "../components/Progressbar.vue";
export default {
  components: {
    DProgressbar
  },
  data() {
    return {
      value: 20,
      color: "",
      light: true
    };
  }
};
</script>

<style>
</style>
