<template>
  <v-container fluid grid-list-md class="vue-grey-color">
    <v-card>
      <v-card-text>
        <v-text-field v-model="text"></v-text-field>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      text: "aa"
    };
  },
  watch: {
    // text: "actionMethod"

    text: {
      handler: "actionMethod",
      immediate: true
    }
    // text: [
    //   function handler1(val, old) {
    //     console.log("ahihi1", { val, old });
    //   },
    //   function handler2(val, old) {
    //     console.log("ahihi2", { val, old });
    //   }
    // ]
  },
  methods: {
    actionMethod(newval) {
      console.log("Function được gọi", newval);
    }
  },
  created() {
    console.log("created");
  },
  beforeCreate() {
    console.log("beforecreate");
  },
  mounted() {
    console.log("mounted");
  },
  beforeMount() {
    console.log("beforeMount");
  }
};
</script>

<style>
</style>
