<template>
  <div class="d-dialog" :class="classes">
    <slot name="activator"></slot>
    <div v-show="value" class="d-dialog-ovelay" @click="clickOverlayClose?$emit('input',false):false">
      <div class="d-dialog-content" @click.stop>
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    flat: {
      type: Boolean,
      required: false,
      default: false
    },
    fullScreen: {
      type: Boolean,
      required: false,
      default: false
    },
    clickOverlayClose: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    classes() {
      return {
        "d-dialog-fullscreen": this.fullScreen
      };
    }
  },
  methods: {},
  mounted() {
    // set Event slot activator
    if (this.$slots.activator) {
      if (this.$slots.activator[0]) {
        this.$slots.activator[0].elm.addEventListener("click", () => {
          this.$emit("input", !this.value);
        });
      }
    }
  }
};
</script>

<style lang="scss">
.d-dialog-ovelay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
}
.d-dialog.d-dialog-fullscreen .d-dialog-content {
  width: 100%;
  height: 100%;
  background: #fff;
}
.d-dialog:not(.d-dialog-fullscreen) .d-dialog-ovelay {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
