<template>
  <v-app class="qr-code">
    <v-app-bar color="black" fixed dark app>
      <v-container class="fill-height py-0" :class="{ 'px-0': mobile }">
        <v-toolbar-title class="title">{{ title }}</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-menu left bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on" color="#2196f3">
              Export as
              <v-icon right>mdi-download</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item
              v-for="n in exportsTo"
              :key="n"
              @click="exportCanvasAs(n)"
            >
              <v-list-item-icon>
                <v-icon>mdi-file-image</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>
                  .{{ n.split("/")[1].toUpperCase() }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-container>
    </v-app-bar>
    <v-card flat tile class="grey lighten-3" min-height="100vh">
      <v-theme-provider light>
        <v-container class="pt-12">
          <div class="mb-12">
            <v-row>
              <v-col class="mb-3" cols="12" md="auto">
                <v-card color="transparent" flat :width="mobile ? '100%' : 320">
                  <v-textarea
                    outlined
                    name="input-7-4"
                    label="Text"
                    v-model="content"
                    counter="1000"
                    filled
                    background-color="white"
                    color="#2196f3"
                  ></v-textarea>
                  <h3 class="text-h6 mb-4">QR code</h3>
                  <canvas id="viewer"></canvas>
                </v-card>
              </v-col>
              <v-col>
                <v-card outlined>
                  <CShapeStyle
                    v-if="qrcode"
                    v-model="qrcode.shapeStyle"
                    @change="render"
                    :color.sync="qrcode.content.color"
                  />
                  <v-divider></v-divider>
                  <CEdgesStyle
                    v-if="qrcode"
                    v-model="qrcode.shapeStyle"
                    @change="render"
                    :edges.sync="qrcode.edges"
                  />
                  <v-divider></v-divider>
                  <CLogoStyle
                    v-if="qrcode"
                    v-model="qrcode.logoAble"
                    @change="render"
                    @loadedLogo="loadedLogoHandle"
                  />
                </v-card>
              </v-col>
              <v-col cols="12" class="pt-0">
                <small class="text-caption">
                  * When choosing your colors other than black foreground make
                  sure there is enough contrast.
                </small>
              </v-col>
            </v-row>
          </div>
        </v-container>
      </v-theme-provider>
    </v-card>
  </v-app>
</template>

<script>
//
import CShapeStyle from "./components/ShapeStyle.vue";
import CEdgesStyle from "./components/EdgesStyle.vue";
import CLogoStyle from "./components/LogoStyle.vue";
import { KDQRCode } from "./qrcode";

export default {
  components: {
    CShapeStyle,
    CEdgesStyle,
    CLogoStyle,
  },
  data() {
    return {
      content: "https://kimduc.dev",
      qrcode: null,
      exportsTo: ["image/png", "image/jpeg", "image/bmp", "image/tiff"],
    };
  },
  computed: {
    mobile() {
      return this.$vuetify.breakpoint.mobile;
    },
    title() {
      return this.mobile ? "QR Code" : "QR Code Generator";
    },
  },
  watch: {
    content() {
      this.render();
    },
  },
  methods: {
    //
    render() {
      this.qrcode.renderQRCodeContent(this.content);
      this.qrcode.drawer();
    },
    loadedLogoHandle(img) {
      this.qrcode.logo = img;
      this.qrcode.logoAble = true;
      this.render();
    },
    exportCanvasAs(MIME_TYPE) {
      var canvasElement = document.getElementById("viewer");

      var imgURL = canvasElement.toDataURL(MIME_TYPE);

      var dlLink = document.createElement("a");
      dlLink.download = "qr-code";
      dlLink.href = imgURL;
      dlLink.dataset.downloadurl = [
        MIME_TYPE,
        dlLink.download,
        dlLink.href,
      ].join(":");

      document.body.appendChild(dlLink);
      dlLink.click();
      document.body.removeChild(dlLink);
    },
  },
  mounted() {
    const canvas = document.getElementById("viewer");
    this.qrcode = new KDQRCode(1000, 1000, canvas, 2);
    this.qrcode.renderQRCodeContent(this.content);
    this.qrcode.drawer();
  },
};
</script>

<style lang="scss">
.qr-code {
  background: #fff !important;
  color: #000 !important;
  height: 100%;
  min-height: 100vh;
}
#viewer {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  width: 100%;
  box-shadow: 0 5px 20px 0 rgba($color: #000, $alpha: 0.05) !important;
  border: 0.75px solid rgba($color: #000, $alpha: 0.2) !important;
}
</style>