$primary-color: #2196f3;

//
.select-item {
    transition: box-shadow 0.4s;
    box-shadow: 0 5px 20px 0 rgba($color: #000, $alpha: 0.05) !important;
    border: 0.75px solid rgba($color: #000, $alpha: 0.2) !important;
    box-sizing: border-box;

    .v-ripple__container {
        border-radius: unset !important;
    }
    canvas {
        border-radius: unset !important;
        width: 40px;
        height: 40px;
    }

    &.primary-item {
        background-color: #fff !important;
        border: 2px solid $primary-color !important;
        box-shadow: 0 5px 20px 0 rgba($color: $primary-color, $alpha: 0.5) !important;
    }
}
