<template>
  
    <v-expansion-panel>
      <v-expansion-panel-header>
        <h2 class="subtitle-2 font-weight-black">BACKGROUND</h2>
      </v-expansion-panel-header>
      <v-expansion-panel-content eager>
        <div class="logo-style mb-6">
          <v-container>
            <v-row>
              <v-col cols="12" class="pb-6">
                <v-menu :close-on-content-click="false" :nudge-width="200" offset-x>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn class="px-2" dark depressed small v-bind="attrs" v-on="on">
                      <span class="text-capitalize"> Color </span>
                      <div
                        class="color-icon"
                        right
                        :style="{ backgroundColor: color }"
                      ></div>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-color-picker
                      :value="color"
                      @input="handleUpdateColor"
                      show-swatches
                      mode="hexa"
                    ></v-color-picker>
                  </v-card>
                </v-menu>

                <v-checkbox
                  v-model="removeBackground"
                  label="Remove Background"
                ></v-checkbox>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </v-expansion-panel-content>
    </v-expansion-panel>
  
</template>

<script>
import { LOGO_STYLE } from "@/utils/qrcode/const";

export default {
  model: {
    event: "change",
    prop: "value",
  },
  props: {
    value: {
      type: [Number, Boolean],
      default: 0,
    },
    color: {
      default: "#000000",
    },
  },

  data() {
    return {
      removeBackground: false,
      tempColor: null,
    };
  },
  watch: {
    removeBackground(val) {
      if (val) {
        this.tempColor = this.color;
        this.handleUpdateColor("#00FFFF00");
      } else {
        this.handleUpdateColor(this.tempColor || this.color);
      }
    },
  },
  methods: {
    handleUpdateColor(e) {
      this.$emit("update:color", e);
      this.$emit("change", this.value);
    },
  },
  mounted() {},
};
</script>

<style lang="scss">
.logo-style {
  canvas {
    border-radius: unset !important;
    width: 40px;
    height: 40px;
  }
  .color-icon {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
  #logo-upload {
    display: none;
  }
  small {
    padding-top: 0.1rem;
    font-size: 0.6rem;
    opacity: 0.8;
  }
  .close-btn {
    z-index: 1;
    width: 1.2rem;
    height: 1.2rem;
    top: -0.5rem;
    right: -0.5rem;
  }
}
</style>
