<template>
  
    <v-expansion-panel>
      <v-expansion-panel-header>
        <h2 class="subtitle-2 font-weight-black">EDGES COLOR</h2>
      </v-expansion-panel-header>
      <v-expansion-panel-content eager>
        <div class="edges-style">
          <v-container>
            <v-row>
              <v-col cols="12" class="mb-6">
                <v-row>
                  <v-col cols="auto pr-0" style="z-index: 2">
                    <v-card outlined width="150">
                      <v-item-group
                        active-class="primary-item"
                        v-model="currentItem"
                        mandatory
                      >
                        <v-card-text>
                          <v-row>
                            <v-col v-for="(val, index) in edges" :key="index" cols="6">
                              <v-item v-slot="{ toggle }">
                                <v-card
                                  class="select-item d-flex align-center justify-center ma-auto"
                                  light
                                  height="40"
                                  width="40"
                                  @click="toggle"
                                  :id="index + '-edge-card'"
                                >
                                  <canvas v-show="false" :id="index + '-edge'"></canvas>
                                  <img :src="imgs[val.id]" />
                                </v-card>
                              </v-item>
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-item-group>
                    </v-card>
                  </v-col>
                  <v-col class="pl-0">
                    <v-card tile flat>
                      <v-card-text class="pl-6 pb-12">
                        <v-slide-x-transition leave-absolute>
                          <h3
                            v-if="currentEdge === 'all'"
                            class="caption font-weight-bold mb-2"
                            key="all"
                          >
                            {{ edges[currentEdge].title.toUpperCase() }}
                          </h3>
                          <h3
                            v-else-if="currentEdge === 'topRight'"
                            key="topRight"
                            class="caption font-weight-bold mb-2"
                          >
                            {{ edges[currentEdge].title.toUpperCase() }}
                          </h3>
                          <h3
                            v-else-if="currentEdge === 'topLeft'"
                            key="topLeft"
                            class="caption font-weight-bold mb-2"
                          >
                            {{ edges[currentEdge].title.toUpperCase() }}
                          </h3>
                          <h3
                            v-else
                            class="caption font-weight-bold mb-2"
                            key="bottomLeft"
                          >
                            {{ edges[currentEdge].title.toUpperCase() }}
                          </h3>
                        </v-slide-x-transition>
                        <v-menu
                          :close-on-content-click="false"
                          :nudge-width="200"
                          offset-x
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              class="px-2 mb-3 mr-3"
                              dark
                              depressed
                              small
                              v-bind="attrs"
                              v-on="on"
                            >
                              <span class="text-capitalize"> Outer </span>
                              <div
                                class="color-icon"
                                right
                                :style="{ backgroundColor: edges[currentEdge].color }"
                              ></div>
                            </v-btn>
                          </template>
                          <v-card>
                            <v-color-picker
                              :value="edges[currentEdge].color"
                              @input="handleUpdateColor"
                              show-swatches
                              mode="hexa"
                            ></v-color-picker>
                          </v-card>
                        </v-menu>
                        <v-menu
                          :close-on-content-click="false"
                          :nudge-width="200"
                          offset-x
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              class="px-2 mb-3"
                              dark
                              depressed
                              small
                              v-bind="attrs"
                              v-on="on"
                            >
                              <span class="text-capitalize">Inner </span>
                              <div
                                class="color-icon"
                                right
                                :style="{
                                  backgroundColor: edges[currentEdge].innerColor,
                                }"
                              ></div>
                            </v-btn>
                          </template>
                          <v-card>
                            <v-color-picker
                              :value="edges[currentEdge].innerColor"
                              @input="handleUpdateInnerColor"
                              show-swatches
                              mode="hexa"
                            ></v-color-picker>
                          </v-card>
                        </v-menu>

                        <v-item-group
                          active-class="primary-item"
                          mandatory
                          :value="edges[currentEdge].type"
                          @change="handleUpdateType"
                        >
                          <v-row>
                            <v-col v-for="(val, index) in items" :key="index" cols="auto">
                              <!-- <v-item v-slot="{ toggle }">
                          <v-card
                            class="d-flex align-center pa-2 justify-center"
                            light
                            height="40"
                            width="40"
                            @click="toggle"
                          >
                            <canvas
                              :id="index.toLowerCase() + '-edge-item'"
                            ></canvas>
                          </v-card>
                        </v-item> -->
                            </v-col>
                          </v-row>
                        </v-item-group>
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </v-expansion-panel-content>
    </v-expansion-panel>
   
</template>

<script>
import { EDGES_STYLE } from "@/utils/qrcode/const";
import { KDQRCode } from "@/utils/qrcode";

export default {
  model: {
    event: "change",
    prop: "value",
  },
  props: {
    value: {
      type: Number,
      default: 0,
    },
    color: {
      default: "#000000",
    },
    edges: {
      default: () => {},
    },
  },

  data() {
    return {
      items: EDGES_STYLE,
      currentItem: 3,
      imgs: [],
    };
  },
  computed: {
    currentEdge() {
      return Object.keys(this.edges).find(
        (key) => this.edges[key].id === this.currentItem
      );
    },
  },
  methods: {
    handleUpdateColor(e) {
      const newObj = {};
      newObj[this.currentEdge] = {
        ...this.edges[this.currentEdge],
        color: e,
      };
      if (this.currentEdge === "all") {
        for (const key in this.edges) {
          newObj[key] = {
            ...this.edges[key],
            color: e,
          };
        }
      }

      const newEdges = { ...this.edges, ...newObj };
      this.handleRenderEdges(newEdges);

      this.$emit("update:edges", newEdges);
      this.$emit("change", this.value);
    },
    handleUpdateInnerColor(e) {
      const newObj = {};
      newObj[this.currentEdge] = {
        ...this.edges[this.currentEdge],
        innerColor: e,
      };
      if (this.currentEdge === "all") {
        for (const key in this.edges) {
          newObj[key] = {
            ...this.edges[key],
            innerColor: e,
          };
        }
      }

      const newEdges = { ...this.edges, ...newObj };
      this.handleRenderEdges(newEdges);

      this.$emit("update:edges", newEdges);
      this.$emit("change", this.value);
    },
    handleUpdateType(e) {
      const newObj = {};
      newObj[this.currentEdge] = {
        ...this.edges[this.currentEdge],
        type: e,
      };
      if (this.currentEdge === "all") {
        for (const key in this.edges) {
          newObj[key] = {
            ...this.edges[key],
            type: e,
          };
        }
      }

      const newEdges = { ...this.edges, ...newObj };
      this.handleRenderEdges(newEdges);

      this.$emit("update:edges", newEdges);
      this.$emit("change", this.value);
    },
    handleRenderEdges(_edges) {
      let count = 0;
      const edges = _edges || this.edges;
      for (const key in edges) {
        const item = new KDQRCode(35, 35, document.getElementById(key + "-edge"));
        item.shapeStyle = edges[key].type;
        item.content.color = edges[key].color;
        item.renderQRCodeContent("a");
        item.drawerEdgeContent(edges[key].color, edges[key].innerColor);

        this.imgs.push(item.getSVGURL());
        count++;
      }

      console.log("this.imgs", this.imgs);
    },
  },
  mounted() {
    this.handleRenderEdges();
    // render shapeStyle bar
    // for (const index in this.items) {
    //   const item = new KDQRCode(
    //     100,
    //     100,
    //     document.getElementById(index.toLowerCase() + "-edge-item")
    //   );
    //   item.shapeStyle = this.items[index];
    //   item.renderQRCodeContent("a");
    //   item.drawerEdgeContent();
    // }
  },
};
</script>

<style lang="scss">
.edges-style {
  canvas {
    border-radius: unset !important;
    width: 20px;
    height: 20px;
  }

  .color-icon {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
  #all-edge-card {
    transform: scale(1.4);
    transform-origin: right bottom;
    canvas {
      transform: scale(1.2);
    }
  }
}
</style>
