<template>
   
    <v-expansion-panel>
      <v-expansion-panel-header>
        <h2 class="subtitle-2 font-weight-black">GRADIENT</h2>
      </v-expansion-panel-header>
      <v-expansion-panel-content eager>
        <div class="logo-style mb-6">
          <v-container>
            <v-row>
              <v-col cols="12" class="pb-6">
                <v-checkbox v-model="gradientAllow" label="Gradient Effect"></v-checkbox>

               

              </v-col>
              <v-col cols="12">
                <client-only>
                  <component :is="GradientPicker" @change="changeHandle"/>
                </client-only>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </v-expansion-panel-content>
    </v-expansion-panel>
   
</template>

<script>
import { LOGO_STYLE } from "@/utils/qrcode/const";

export default {
  model: {
    event: "change",
    prop: "value",
  },
  props: {
    value: {
      type: [Number, Boolean],
      default: 0,
    },
    color: {
      default: "#000000",
    },
  },

  data() {
    return {
      gradientAllow: false,
      tempColor: null,
      GradientPicker: "div",
    };
  },
  watch: {
    gradientAllow(val) {
      this.$emit("allow", val);
    },
  },
  methods: {
    handleUpdateColor(e) {
      this.$emit("update:color", e);
      this.$emit("change", this.value);
    },
    changeHandle(e) {
      this.$emit("change", e);
    },
  },
  mounted() {
    if (process.browser) {
      import("@/local-components/GradientPicker.vue").then((module) => {
        this.GradientPicker = module.default;
      });
    }
  },
  components: {},
};
</script>

<style lang="scss">
.logo-style {
  canvas {
    border-radius: unset !important;
    width: 40px;
    height: 40px;
  }
  .color-icon {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
  #logo-upload {
    display: none;
  }
  small {
    padding-top: 0.1rem;
    font-size: 0.6rem;
    opacity: 0.8;
  }
  .close-btn {
    z-index: 1;
    width: 1.2rem;
    height: 1.2rem;
    top: -0.5rem;
    right: -0.5rem;
  }
}
</style>
