<template>
  
    <v-expansion-panel>
      <v-expansion-panel-header>
        <h2 class="subtitle-2 font-weight-black">LOGO</h2>
      </v-expansion-panel-header>
      <v-expansion-panel-content eager>
        <div class="logo-style mb-6">
          <v-container>
            <v-row>
              <v-col cols="auto">
                <v-item-group
                  active-class="primary-item"
                  v-model="currentImg"
                  @change="changeImageHanlde"
                  mandatory
                >
                  <v-row>
                    <v-col cols="auto">
                      <v-item v-slot="{ toggle }">
                        <v-card
                          class="select-item d-flex align-center pa-2 justify-center"
                          light
                          height="60"
                          width="60"
                          @click="toggle"
                        >
                          <div class="d-flex flex-column align-center justify-center">
                            <v-icon>mdi-close</v-icon>
                            <small>NONE</small>
                          </div>
                        </v-card>
                      </v-item>
                    </v-col>
                    <v-col cols="auto" v-for="img in images" :key="img.id">
                      <v-item v-slot="{ toggle }">
                        <v-card
                          class="select-item d-flex align-center justify-center"
                          light
                          height="60"
                          width="60"
                          @click="toggle"
                        >
                          <v-btn
                            fab
                            x-small
                            color="red"
                            dark
                            absolute
                            class="close-btn"
                            @click.stop="removeImage(img)"
                          >
                            <v-icon size="14">mdi-close</v-icon>
                          </v-btn>
                          <v-img
                            height="100%"
                            width="100%"
                            contain
                            :src="img.value.src"
                          ></v-img>
                        </v-card>
                      </v-item>
                    </v-col>
                  </v-row>
                </v-item-group>
              </v-col>
              <v-col cols="auto">
                <v-card
                  class="select-item d-flex align-center pa-2 justify-center"
                  light
                  flat
                  height="60"
                  width="60"
                  color="grey lighten-4"
                  @click="$refs.logoInput.click()"
                >
                  <input
                    type="file"
                    id="logo-upload"
                    ref="logoInput"
                    accept="image/*"
                    @change="inputLogoChangeHandle"
                  />
                  <div class="d-flex flex-column align-center justify-center">
                    <v-icon>mdi-image-plus</v-icon>
                    <small>UPLOAD</small>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </v-expansion-panel-content>
    </v-expansion-panel>
  
</template>

<script>
import { LOGO_STYLE } from "@/utils/qrcode/const";

export default {
  model: {
    event: "change",
    prop: "value",
  },
  props: {
    value: {
      type: [Number, Boolean],
      default: 0,
    },
    color: {
      default: "#000000",
    },
  },

  data() {
    return {
      items: LOGO_STYLE,
      images: [],
      currentImg: 0,
    };
  },
  methods: {
    changeImageHanlde(index) {
      if (index <= 0) {
        this.$emit("change", false);
      } else {
        this.$emit("loadedLogo", this.images[index - 1].value);
      }
    },
    handleUpdateColor(e) {
      this.$emit("update:color", e);
      this.$emit("change", this.value);
    },
    removeImage(img) {
      this.currentImg = 0;
      this.changeImageHanlde(0);
      this.images = this.images.filter((item) => item.id !== img.id);
      URL.revokeObjectURL(img.value);
    },
    inputLogoChangeHandle(e) {
      var img = new Image();

      img.src = URL.createObjectURL(e.target.files[0]);
      img.onload = () => {
        this.images.push({
          id: this.images.length,
          value: img,
        });
        this.currentImg = this.images.length;
        this.$emit("loadedLogo", img);
      };
      img.onerror = () => {
        console.error("The provided file couldn't be loaded as an Image media");
      };
    },
  },
  mounted() {},
};
</script>

<style lang="scss">
.logo-style {
  canvas {
    border-radius: unset !important;
    width: 40px;
    height: 40px;
  }
  .color-icon {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
  #logo-upload {
    display: none;
  }
  small {
    padding-top: 0.1rem;
    font-size: 0.6rem;
    opacity: 0.8;
  }
  .close-btn {
    z-index: 1;
    width: 1.2rem;
    height: 1.2rem;
    top: -0.5rem;
    right: -0.5rem;
  }
}
</style>
