<template>
  <div class="shape-style">
    <v-container>
      <v-row>
        <v-col cols="12" class="pb-0">
          <h2 class="subtitle-2 font-weight-black">SHAPE STYLE</h2>
        </v-col>

        <v-col cols="12">
          <v-item-group
            active-class="primary-item"
            :value="value"
            @change="$emit('change', $event)"
            mandatory
          >
            <v-row>
              <v-col v-for="(val, index) in items" :key="index" cols="auto">
                <v-item v-slot="{ toggle }">
                  <v-card
                    class="select-item d-flex align-center pa-2 justify-center"
                    light
                    height="60"
                    width="60"
                    @click="toggle"
                  >
                    <canvas v-show="false" :id="index.toLowerCase() + '-item'"></canvas>
                    <img :src="imgs[index]" />
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
          </v-item-group>
        </v-col>

        <v-col cols="12" class="pb-6">
          <v-menu :close-on-content-click="false" :nudge-width="200" offset-x>
            <template v-slot:activator="{ on, attrs }">
              <v-btn class="px-2" dark depressed small v-bind="attrs" v-on="on">
                <span class="text-capitalize"> Color </span>
                <div class="color-icon" right :style="{ backgroundColor: color }"></div>
              </v-btn>
            </template>
            <v-card>
              <v-color-picker
                :value="color"
                @input="handleUpdateColor"
                show-swatches
                mode="hexa"
              ></v-color-picker>
            </v-card>
          </v-menu>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { SHAPE_STYLE } from "../const";
import { KDQRCode } from "../qrcode";

export default {
  model: {
    event: "change",
    prop: "value",
  },
  props: {
    value: {
      type: Number,
      default: 0,
    },
    color: {
      default: "#000000",
    },
  },

  data() {
    return {
      items: SHAPE_STYLE,
      imgs: SHAPE_STYLE.map((item) => null),
    };
  },
  methods: {
    handleUpdateColor(e) {
      this.$emit("update:color", e);
      this.$emit("change", this.value);
    },
  },
  mounted() {
    // render shapeStyle bar
    for (const index in this.items) {
      const shapeStyleItem = new KDQRCode(
        100,
        100,
        document.getElementById(index.toLowerCase() + "-item")
      );
      shapeStyleItem.shapeStyle = this.items[index];
      shapeStyleItem.renderQRCodeContent("a");
      shapeStyleItem.drawerIconContent();
      shapeStyleItem.drawer();

      this.items[index] = shapeStyleItem.getSVGURL();
    }
  },
};
</script>

<style lang="scss">
@import "../style.scss";

.shape-style {
  .color-icon {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
</style>
