<template>
  <div>
    <router-view />

    <v-footer id="main-footer" color="white">
      <v-container>
        <v-card height="300" flat color="transparent" class="d-flex align-end">
          <div>
            <img height="28" src="/images/logo.svg" alt="Kimduc.dev" class="mb-2" />
            <div class="mb-2">
              <strong>© Copyright 2023 kimduc.dev. All rights reserved.</strong>
            </div>
            <div>
              <a
                class="caption text-decoration-none grey--text text--lighten-1 mr-3"
                href="mailto:kimduc10a@gmail.com?subject=[KIMDUC.DEV]:"
              >
                <v-icon color="black" class="mr-1" size="16"> mdi-email-outline </v-icon>
                kimduc10a@gmail.com
              </a>
              <a
                class="caption text-decoration-none grey--text text--lighten-1"
                href="https://www.facebook.com/hoang.kim.duc.me/"
                target="_blank"
              >
                <v-icon color="blue" class="mr-1" size="16"> mdi-facebook </v-icon>
                Facebook
              </a>
            </div>
          </div>
        </v-card>
      </v-container>
    </v-footer>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
#main-footer {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/footer-bg.svg);
    background-size: 100% 100%;
    z-index: 0;
    transform: scaleX(1.8);
    opacity: 0.5;
  }
  .container {
    position: relative;
    z-index: 1;
  }
}
</style>
