<template>
  <v-menu light offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        rounded
        depressed
        v-bind="attrs"
        v-on="{ click: logged ? on.click : buttonHandle }"
        :class="{ 'px-0': logged }"
        :icon="$vuetify.breakpoint.mobile"
      >
        <template v-if="logged">
          <v-avatar size="32"  color="primary">
            <img :src="user.photoURL" :alt="user.displayName" />
          </v-avatar>
          <small class="hidden-sm-and-down pl-2">{{ user.displayName }}</small>
        </template>
        <template v-else>
          Sign-In
        </template>
      </v-btn>
    </template>

    <v-card v-if="user">
      <v-card-text>
        <div>{{ user.email }}</div>
      </v-card-text>
      <v-divider></v-divider>
      <v-list dense>
        <v-list-item @click="signOut">
          <v-list-item-title>Sign-Out</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-card>
  </v-menu>
</template>

<script>
import { GoogleAuthProvider, signInWithPopup } from "@firebase/auth";

import { db, auth } from "@/utils/firebase";

export default {
  data() {
    return {
      errorMessage: null,
    };
  },
  computed: {
    logged() {
      return this.user && !this.errorMessage;
    },
    user() {
      return this.$store.state.user;
    },
  },
  methods: {
    buttonHandle() {
      if (this.logged) {
        this.signOut();
      } else {
        this.signIn();
      }
    },
    signIn() {
      var provider = new GoogleAuthProvider();

      signInWithPopup(auth, provider)
        .then((result) => {
          // This gives you a Google Access Token. You can use it to access the Google API.
          // The signed-in user info.
          var user = result.user;
          // ...
          console.log(user);
        })
        .catch(function (error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
          console.log(error);
        });
    },
    signOut() {
      auth
        .signOut()
        .then(function () {
          console.log("Sign-out successful.");
          this.errorMessage = null;
        })
        .catch(function (error) {
          console.log("An error happened.");
        });
    },
  },
  mounted() {
    auth.onAuthStateChanged((user) => {
      this.$store.dispatch("setUser", JSON.parse(JSON.stringify(user)));
    });
  },
};
</script>

<style></style>
