<template>
  <v-card
    height="100%"
    light
    class="love-diary-card rounded-xl"
    outlined
    :to="`/love/diary/${item['.key']}`"
    :style="{
      '--color': item.color,
    }"
  >
    <div class="love-diary-card__content pa-4">
      <h2 :class="`text-h6 font-weight-black ${item.color}--text mb-2`">
        {{ item.title }}
      </h2>
      <h6 class="text-caption font-weight-bold">
         {{ $moment(item.date, "YYYY-MM-DD").format("ddd - MMMM DD, YYYY") }}
      </h6>
      <v-card :color="item.color" height="6" width="32" flat rounded="lg" class="mb-3"></v-card>
      <div v-if="item.img" class="pt-2">
        <v-img
          class="rounded-lg grey mb-3"
          :src="item.img"
          :aspect-ratio="16 / 9"
          contain
          :style="{
            '--img': `url(${item.img})`,
          }"
        >
        </v-img>
      </div>
      <div
        class="love-diary-card__content__viewer ProseMirror text-body-2"
        v-html="item.content"
      ></div>
    </div>
  </v-card>
</template>
<script>
export default {
  props: {
    item: {
      typeo: Object,
      default: () => {
        return {};
      },
    },
  },
};
</script>
<style lang="scss">
.love-diary-card {
  max-height: 500px;
  overflow: hidden;

  &::after {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    top: -80px;
    left: -80px;
    background-color: var(--color);
    z-index: 1;
    border-radius: 9999px;
    filter: blur(60px);
    opacity: 0.1;
  }

  .v-image {
    position: relative;
    .v-image__image {
        z-index: 1;
    }
    &::before {
      content: "" !important;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: var(--img);
      z-index: 0;
      background-size: cover;
      background-position: center center;
      filter: blur(12px);
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    & > h2 {
      line-height: normal !important;
    }
    & > h6 {
      opacity: 0.8;
    }
    &__viewer {
      max-height: 4.2em;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      min-height: 0 !important;
      opacity: 0.68;
    }
  }
}
</style>
