<template>
  <div class="mt-5 white--text text-center">
   
    <!-- <div class="time-panel my-12">
      <v-btn dark large fab class="mr-3">
        <div class="time-panel-text">
          <div class="title pb-1">
            {{ duration.asDays().toFixed() | numberFormat }}
          </div>
          Ngày
        </div>
      </v-btn>
      <v-btn dark large fab class="mr-3">
        <div class="time-panel-text">
          <div class="title pb-1">
            {{ numString(duration.get("hours")) }}
          </div>
          Giờ
        </div>
      </v-btn>
      <v-btn dark large fab class="mr-3">
        <div class="time-panel-text">
          <div class="title pb-1">
            {{ numString(duration.get("minutes")) }}
          </div>
          Phút
        </div>
      </v-btn>
      <v-btn dark large fab>
        <div class="time-panel-text">
          <div class="title pb-1">
            {{ numString(duration.get("seconds")) }}
          </div>
          Giây
        </div>
      </v-btn>
    </div> -->
    <div>
      <v-btn x-small depressed color="red" dark class="mr-2 mb-2">
        ≈ {{ duration.asYears().toFixed(1) | numberFormat }} Years
      </v-btn>
      <v-btn x-small depressed color="orange" class="mr-2 mb-2">
        ≈
        {{ duration.asMonths().toFixed(1) | numberFormat }} Months
      </v-btn>
      <v-btn x-small depressed color="yellow" light class="mr-2 mb-2">
        ≈ {{ duration.asWeeks().toFixed(1) | numberFormat }} Weeks
      </v-btn>
      <v-btn x-small depressed color="green" class="mr-2 mb-2">
        ≈ {{ duration.asDays().toFixed(1) | numberFormat }} Days
      </v-btn>
      <v-btn x-small depressed color="blue" class="mr-2 mb-2">
        ≈ {{ duration.asHours().toFixed(1) | numberFormat }} Hours
      </v-btn>
      <v-btn x-small depressed color="indigo" class="mr-2 mb-2">
        ≈
        {{ duration.asMinutes().toFixed() | numberFormat }}
        Minutes
      </v-btn>
      <v-btn x-small depressed color="purple" dark class="mr-2 mb-2">
        ≈
        {{ duration.asSeconds().toFixed() | numberFormat }}
        Seconds
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    duration: {
      type: Object,
      required: true,
    },
  },
  methods: {
    numString(val) {
      if (val >= 0 && val <= 9) {
        return "0" + val;
      }
      return val;
    },
  },
};
</script>

<style scoped lang="scss">
.time-panel {
  .v-btn {
    // border: 1px solid rgba(#fff, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    .time-panel-text {
      position: absolute;
      top: -15px;
      z-index: 1;
      font-size: 8px;
      .title {
        margin-bottom: 1rem;
      }
    }
  }
}
</style>
