<template>
  <v-img
    width="100%"
    :height="$vuetify.breakpoint.height"
    src="images/bg1.jpg"
    gradient="to top right, rgba(100,115,201,.55), rgba(25,32,72,.8)"
    class="bg-image"
  >
    <v-layout fill-height column align-center justify-center>
      <h3 class="text-h5 text-center white--text mb-12">
        {{ errorMessage }}
      </h3>
      <div class="d-flex justify-center">
        <v-btn width="120" color="white" @click="$emit('SignOut')" class="mr-3">
          Sign out
        </v-btn>
        <v-btn width="120" color="white" to="/"> Home </v-btn>
      </div>
    </v-layout>
  </v-img>
</template>

<script>
export default {
  props: {
    errorMessage: {
      type: String,
      default: "",
    },
  },
};
</script>

<style>
</style>