<template>
  <v-card height="2000" color="transparent">
    <v-toolbar dark color="transparent">
      <v-btn icon dark @click="showContent = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Settings</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn dark text @click="showContent = false"> Save </v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      showContent: false,
    };
  },
};
</script>

<style>
</style>