<template>
  <v-app class="home">
    <v-app-bar fixed color="#fff" light elevate-on-scroll>
      <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->
      <v-container class="py-0 fill-height">
        <v-app-bar-title>
          <img height="28" src="/images/logo.svg" alt="Kimduc.dev" />
        </v-app-bar-title>

        <v-spacer></v-spacer>

        <!-- <v-toolbar-items>
          <v-btn text>Home</v-btn>
          <v-btn text>Blog</v-btn>
        </v-toolbar-items> -->
        <GoogleSignInButton />
      </v-container>
    </v-app-bar>
    <!-- <canvas></canvas> -->

    <v-theme-provider light>
      <v-main>
        <section id="canvas-view">
          <v-container class="fill-height">
            <v-row justify="center" align="center">
              <v-col>
                <v-card color="transparent" flat class="text-center">
                  <h2 class="text-h3">Welcome to <strong>Kimduc.dev</strong></h2>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </section>
        <section id="welcome" class="py-6">
          <v-container>
            <v-row>
              <v-col v-for="(app, index) in apps" :key="index" cols="12" sm="4" md="3">
                <v-card light class="app-card" :to="app.to">
                  <v-img v-if="app.img" :src="app.img" height="150"></v-img>
                  <v-card v-else tile flat :class="app.color" height="150">
                    <v-row no-gutters class="fill-height" align="center" justify="center">
                      <v-col class="text-center">
                        <v-avatar color="white" icon size="62">
                          <v-icon size="32" v-text="app.icon"></v-icon>
                        </v-avatar>
                      </v-col>
                    </v-row>
                  </v-card>
                  <v-card-title class="pb-0" v-text="app.title"> </v-card-title>
                  <v-card-text style="min-height: 60px">
                    {{ app.content }}
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </section>
    
      </v-main>
    </v-theme-provider>
  </v-app>
</template>

<script>
import GoogleSignInButton from "../../components/GoogleSignInButton.vue";

export default {
  components: {
    GoogleSignInButton,
  },
  data() {
    return {
      apps: [
        {
          icon: "mdi-qrcode-edit",
          color: "blue",
          title: "QR Code Generator",
          content: "Create custom QR Codes with Logo, Color and Design for free.",
          to: "/qrcode",
          img: require("@/assets/qrcode.png"),
          tags: ["Free"],
        },
        {
          icon: "mdi-heart-multiple",
          color: "red lighten-1",
          title: "Heart App",
          content: "Heart App",
          to: "/mylove",
          tags: ["Private"],
        },
        {
          icon: "mdi-clock",
          color: "orange",
          title: "FlipClock",
          content: "Displays the time with flip animation in large white numerals",
          to: "/clock",
          img: require("@/assets/clock.png"),
          tags: [],
        },
        {
          icon: "mdi-ethereum",
          color: "blue",
          title: "ETH Converter",
          content: "ETH Unit Converter",
          to: "/eth-converter",
          tags: [],
        },
        {
          icon: "mdi-widgets",
          color: "grey",
          title: "Coming soon",
          content: "",
          to: "#",
          tags: [],
        },
      ],
    };
  },
  mounted() {
    // require("./ball");
  },
};
</script>

<style lang="scss">
.v-app-bar-title__content {
  overflow: visible;
  text-overflow: unset;
}
html {
  background-color: #fff;
}
.home {
 
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }

  #canvas-view {
    height: 50vh;
    background-color: #fff;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0,
      rgba(55, 125, 255, 0.075) 100%
    );
    background-repeat: repeat-x;

    h2 {
    }
    #avatar {
      width: 10rem;
      margin: auto;
      display: block;
      filter: drop-shadow(1px 1px 12px #000);
    }
    .v-chip {
      margin-top: -8px;
      box-shadow: 1px 1px 12px #000;
      h6 {
        transform: scale(0.8);
      }
    }
  }
  #welcome {
    min-height: 100vh;
    background-color: #fff;

    // box-shadow: 0px -4px 24px 12px rgba(0, 0, 0, 0.4);
  }
  .app-card {
    box-shadow: 0 15px 30px -8px rgb(0 0 0 / 8%) !important;
    overflow: hidden;
  }
}
</style>
