html {
    background-color: var(--v-background-base);
}

.full-width {
    width: 100%;
}

.powered-by {
    font-size: 10px;
    opacity: .68;
    font-weight: 400;

    &:hover {
        opacity: 1;
    }
}
.flex-1 {
    flex: 1;
}