<template>
  <v-app
    :class="{
      mobile: $vuetify.breakpoint.mobile,
    }"
  >
    <v-main id="main-content">
      <nuxt />
    </v-main>
    <v-divider></v-divider>
    <v-footer id="main-footer" color="transparent">
      <v-container>
        <v-card height="200" flat color="transparent" class="d-flex align-end">
          <div>
            <nuxt-link to="/">
              <img
                height="42"
                src="@/assets/images/logo-white.svg"
                alt="Kimduc.dev"
                class="mb-4"
              />
            </nuxt-link>

            <div class="mb-4 d-flex flex-column">
              <a
                class="caption text-decoration-none grey--text text--lighten-1 mb-2"
                href="mailto:kimduc10a@gmail.com?subject=[KIMDUC.DEV]:"
              >
                <v-icon class="mr-1" size="24"> mdi-email-outline </v-icon>
                kimduc10a@gmail.com
              </a>
              <a
                class="caption text-decoration-none grey--text text--lighten-1 mb-2"
                href="https://www.facebook.com/hoang.kim.duc.me/"
                target="_blank"
              >
                <v-icon color="blue" class="mr-1" size="24"> mdi-facebook </v-icon>
                hoang.kim.duc.me
              </a>
            </div>
            <div class="text-caption grey--text">
              <p class="mb-0">© Copyright 2023 kimduc.dev. All rights reserved.</p>
            </div>
          </div>
        </v-card>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "Default",
};
</script>

<style lang="scss">
#main-footer {
  position: relative;
  .container {
    position: relative;
    z-index: 1;
  }
}
</style>
