<template>
  <v-app
    :class="{
      mobile: $vuetify.breakpoint.mobile,
    }"
    class="love-layout"
  >
    <v-app-bar app light flat height="80">
    <v-container class="fill-height">
        <Icon icon="mingcute:heart-fill" height="38" color="red" class="mr-2"/>

      <v-btn text exact to="/love" rounded> <strong>Home</strong> </v-btn>
      <v-btn text exact to="/love/diary" rounded> <strong>Diary</strong> </v-btn>
      <v-spacer></v-spacer>
      <div class="flex-1 text-right">
        <GoogleSignInButton />
      </div>
    </v-container>
    </v-app-bar>

    <v-main v-if="$store.state.user">
      <!-- <KeepAlive :include="['diary-list']"> -->
        <RouterView />
      <!-- </KeepAlive> -->
    </v-main>
    <LoginCard v-else @SignIn="signIn" />
  </v-app>
</template>
<script>
import { GoogleAuthProvider, onAuthStateChanged, signInWithPopup } from "@firebase/auth";
import { computed } from "vue";
import { db, auth, storage } from "@/utils/firebase";
import LoginCard from "@/components/Love/LoginCard.vue";

export default {
  components: {
    LoginCard,
  },
  data: () => {
    return {
      user: null,
      errorMessage: null,
    };
  },
  methods: {
    signIn() {
      var provider = new GoogleAuthProvider();

      signInWithPopup(auth, provider)
        .then((result) => {
          var user = result.user;
          console.log(user);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
  onMounted() {},
};
</script>
<style lang="scss">
.love-layout {
  .v-main {
    background-color: #f5f5f5;
  }
}
</style>
