<template>
  <v-app class="eth-converter">
    <v-app-bar color="#f1f3f4" fixed light app elevate-on-scroll>
      <v-container class="fill-height py-0" :class="{ 'px-0': mobile }">
      <v-spacer v-if="!mobile"></v-spacer>
        <div class="text-md-center">
          <strong class="font-weight-black text-h6">ETH UNIT CONVERTER</strong>
          <p class="mb-0 mt-n2 powered-by">Powered by kimduc.dev</p>
        </div>
      <v-spacer></v-spacer>
      </v-container>
    </v-app-bar>
    <div class="eth-converter__content py-12">
      <client-only>
        <v-container class="px-md-6" fluid>
          <v-card light flat rounded="xl" width="800" class="eth-converter__card mx-auto mb-4">
            <v-card-title class="font-weight-black text-h5 pb-12">
              <v-spacer></v-spacer>
              <v-btn icon @click="showSetting = !showSetting">
                <v-icon>mdi-tune</v-icon>
              </v-btn>
            </v-card-title>
            <v-card-text>
              <v-row>
                <v-col cols="12">
                  <div v-for="unit in allUnit" :key="unit.name">
                    <v-expand-transition>
                      <div v-if="activeUnit.includes(unit.name)">
                        <div class="pb-4">
                          <v-text-field
                            label="Amount"
                            :value="unit.value"
                            solo
                            flat
                            height="60"
                            @input="inputHandle($event, unit)"
                            :messages="unit.name"
                            @keypress="isNumber($event)"
                          >
                            <template slot="append">
                              <v-btn
                                @click="copyValueHandle(unit.value)"
                                icon
                                large
                                color="grey lighten-1"
                              >
                                <v-icon>mdi-content-copy</v-icon>
                              </v-btn>
                            </template>
                            <template slot="prepend">
                              <div class="pr-3 text-subtitle-1 font-weight-black text--text">
                                {{ unit.name }}
                              </div>
                            </template>
                            <template slot="message">
                              <div class="pl-5" v-html="unit.hint"></div>
                            </template>
                          </v-text-field>
                        </div>
                      </div>
                    </v-expand-transition>
                  </div>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
          <div class="mt-n14">
            <v-expand-transition>
              <v-card v-if="showSetting" max-width="800" class="mx-auto pt-6" flat dark rounded="xl">
                <v-card-text>
                  <v-row>
                    <v-col cols="12">
                      <v-sheet elevation="0" color="transparent" class="py-4 px-1">
                        <v-chip-group v-model="activeUnit" column multiple>
                          <v-chip
                            v-for="unit in allUnit"
                            :key="unit.name"
                            :value="unit.name"
                            :style="{
                              pointerEvents: defaultUnit.includes(unit.name)
                                ? 'none'
                                : 'auto',
                            }"
                            :active-class="
                              defaultUnit.includes(unit.name)
                                ? 'success black--text'
                                : 'blue white--text'
                            "
                          >
                            {{ unit.name }}
                          </v-chip>
                        </v-chip-group>
                      </v-sheet>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-expand-transition>
          </div>

          <v-snackbar v-model="toastCopy">
            <div>Copied to clipboard!</div>
            <small>{{ toastData }}</small>
            <template v-slot:action="{ attrs }">
              <v-btn color="pink" text v-bind="attrs" @click="toastCopy = false">
                Close
              </v-btn>
            </template>
          </v-snackbar>
        </v-container>
      </client-only>
    </div>

    <div class="eth-converter__top"></div>
  </v-app>
</template>

<script>
import Units from "ethereumjs-units";
import { onMounted, ref, watch } from "@nuxtjs/composition-api";
import copy from "copy-to-clipboard";

export default {
  head: {
    title: 'Ethereum Unit Converter',
     meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Ethereum Unit Converter | Ether to Gwei, Wei, etc.'
      }
    ],
  },
  setup() {
    const allUnit = ref(
      [
        "Wei",
        "KWei",
        "MWei",
        "GWei",
        "Szabo",
        "Finney",
        "Ether",
        "KEther",
        "MEther",
        "GEther",
        "TEther",
      ].map((item) => {
        return {
          name: item,
          value: Units.units[item.toLowerCase()],
        };
      })
    );

    const defaultUnit = ["Wei", "GWei", "Ether"];
    let storageUnit = null;
    try {
      if (process.browser) {
        storageUnit = localStorage.getItem("eth-unit");
        storageUnit = storageUnit ? JSON.parse(storageUnit) : null;
      }
    } catch (error) {
      console.log(error);
    }

    const activeUnit = ref(storageUnit || defaultUnit);

    const showSetting = ref(false);
    const moreView = ref(false);
    const toastCopy = ref(false);
    const toastData = ref("");

    const inputHandle = (val = 0, inputUnit) => {
      allUnit.value = allUnit.value.map((unit) => {
        unit.value = Units.convert(
          (val || 0).toString().replace(",", "."),
          inputUnit.name.toLowerCase(),
          unit.name.toLowerCase()
        );
        unit.hint = renderHint(unit.value);
        return unit;
      });
    };

    const renderHint = (val) => {
      const dicPart = val.split(".");

      let decimalStr =
        dicPart.length === 2
          ? "." +
            `<span class="num-dec" data-length="${dicPart[1].length}">${dicPart[1]}</span>`
          : "";

      let numStr = "";
      let interNum = dicPart[0];
      if (interNum.length) {
        for (let index = interNum.length; index >= 0; index -= 3) {
          const p = interNum.substring(index, index - 3);
          const pointStr = numStr && p ? " , " : "";
          let pStr = p
            ? `<span class="num-in num-in-${p.length} l-${p.length}">${p}</span>`
            : "";

          numStr = pStr + pointStr + numStr;
        }
      }

      let numIndex = 0;
      numStr = numStr
        .split(`l-3"`)
        .map((item) => {
          if (item.includes(`num-in-3`)) {
            numIndex += 1;
            return item + `" data-index="${numIndex}"`;
          }
          return item;
        })
        .join("");

      return numStr + decimalStr;
    };
    const isNumber = (evt) => {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      var val = evt.target.value || "";
      const hasDot = val.includes(".");
      if (hasDot && charCode === 46) {
        evt.preventDefault();
      }

      if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode !== 46) {
        evt.preventDefault();
      } else {
        return true;
      }
    };

    const copyValueHandle = (val) => {
      toastCopy.value = false;
      copy(val);
      toastData.value = val;
      toastCopy.value = true;
    };

    watch(activeUnit, () => {
      if (process.browser) {
        localStorage.setItem("eth-unit", JSON.stringify(activeUnit.value));
      }
    });

    onMounted(() => {
      inputHandle("1", {
        name: "ether",
      });
    });

    return {
      showSetting,
      defaultUnit,
      allUnit,
      activeUnit,
      moreView,
      toastCopy,
      toastData,
      //
      inputHandle,
      isNumber,
      copyValueHandle,
    };
  },
};
</script>

<style lang="scss">
.eth-converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: calc(100vh - 96px);
  overflow: hidden;
  background-color: #f1f3f4 !important;

  &__top {
    position: fixed;
    left: 0;
    top: 0;
    height: 50vh;
    background-color: #f1f3f4;
    width: 100%;
    z-index: 0;
  }

  &__content {
    position: relative;
    z-index: 1;
  }
  &__card {
    position: relative;
    z-index: 2;
  }

  input {
    font-size: 20px;
  }
  .v-input__prepend-outer {
    width: 60px !important;
  }

  .v-input--is-focused {
    .text-h6,
    input {
      color: var(--v-primary-base) !important;
    }
  }
  .num-in {
    &.num-in-3 {
      position: relative;
      display: inline-block;
      background-color: rgba($color: green, $alpha: 0.2);

      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 1px;
        left: 0;
        background-color: green;
      }
      &::before {
        content: attr(data-index);
        position: absolute;
        top: calc(100% + 2px);
        width: 100%;
        left: 0;
        text-align: center;
      }
    }
  }
  .num-dec {
    color: red !important;
    position: relative;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 1px;
      left: 0;
      background-color: red;
    }

    &::before {
      content: attr(data-length);
      position: absolute;
      top: calc(100% + 2px);
      width: 100%;
      left: 0;
      text-align: center;
    }
  }
  .v-text-field__details {
    overflow: visible;
  }

  .v-input__slot {
    background-color: #f1f3f4 !important;
  }
}
</style>
