<template>
  <v-app class="home">
    <v-app-bar fixed elevate-on-scroll color="#000">
      <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->
      <v-container class="py-0 fill-height">
        <v-app-bar-title>
          <img height="24" src="@/assets/images/logo-white.svg" alt="Kimduc.dev" />
        </v-app-bar-title>

        <v-spacer></v-spacer>

        <!-- <v-toolbar-items>
          <v-btn text>Home</v-btn>
          <v-btn text>Blog</v-btn>
        </v-toolbar-items> -->
        <GoogleSignInButton />
      </v-container>
    </v-app-bar>
    <!-- <canvas></canvas> -->

    <v-theme-provider>
      <v-main>
        <section id="canvas-view">
          <v-container class="fill-height">
            <v-row justify="center" align="center">
              <v-col>
                <v-card color="transparent" flat class="text-center">
                  <h2 class="text-h3">Welcome to <strong>Kimduc.dev</strong></h2>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </section>
        <section id="welcome" class="py-6">
          <v-container>
            <v-row :dense="mobile">
              <v-col v-for="(app, index) in apps" :key="index" cols="6" sm="4" md="3">
                <v-card class="app-card" :to="app.to">
                  <v-img v-if="app.img" :src="app.img" height="150"></v-img>
                  <v-card v-else tile flat :class="app.color" height="150">
                    <v-row no-gutters class="fill-height" align="center" justify="center">
                      <v-col class="text-center">
                        <v-avatar color="white" icon size="62">
                          <v-icon size="32" :color="app.color">{{ app.icon }}</v-icon>
                        </v-avatar>
                      </v-col>
                    </v-row>
                  </v-card>
                  <v-card-title
                    class="px-3 px-md-4 py-2 py-md-3 font-weight-black text-uppercase text-body-2 text-md-subtitle-1"
                    v-text="app.title"
                  >
                  </v-card-title>
                  <v-card-text class="px-3 px-md-4" style="min-height: 60px">
                    {{ app.content }}
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </section>
      </v-main>
    </v-theme-provider>
  </v-app>
</template>

<script>
import GoogleSignInButton from "@/components/GoogleSignInButton.vue";

export default {
  components: {
    GoogleSignInButton,
  },
  data() {
    return {
      apps: [
        {
          icon: "mdi-qrcode-edit",
          color: "blue",
          title: "QR Code Generator",
          content: "Create custom QR Codes with Logo, Color and Design for free.",
          to: "/qrcode",
          // img: require("@/assets/images/qrcode.png"),
          tags: ["Free"],
        },
        {
          icon: "mdi-heart-multiple",
          color: "red lighten-1",
          title: "Heart App",
          content: "Heart App",
          to: "/love",
          tags: ["Private"],
        },
        {
          icon: "mdi-clock",
          color: "yellow darken-1",
          title: "FlipClock",
          content: "Displays the time with flip animation in large white numerals",
          to: "/flip-clock",
          // img: require("@/assets/images/clock.png"),
          tags: [],
        },
        {
          icon: "mdi-ethereum",
          color: "grey darken-3",
          title: "ETH Converter",
          content: "ETH Unit Converter",
          to: "/eth-converter",
          tags: [],
        },
        {
          icon: "mdi-widgets",
          color: "grey",
          title: "Coming soon",
          content: "",
          to: "#",
          tags: [],
        },
      ],
    };
  },
  mounted() {},
};
</script>

<style lang="scss">
.v-app-bar-title__content {
  overflow: visible;
  text-overflow: unset;
}
.home {
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }

  #canvas-view {
    height: 50vh;
    background-color: #000;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0,
      rgb(36, 0, 84, .68) 100%
    );
    background-repeat: repeat-x;

    h2 {
    }
    #avatar {
      width: 10rem;
      margin: auto;
      display: block;
      filter: drop-shadow(1px 1px 12px #000);
    }
    .v-chip {
      margin-top: -8px;
      box-shadow: 1px 1px 12px #000;
      h6 {
        transform: scale(0.8);
      }
    }
  }
  #welcome {
    min-height: 100vh;
    // box-shadow: 0px -4px 24px 12px rgba(0, 0, 0, 0.4);
  }
  .app-card {
    box-shadow: 0 15px 30px -8px rgb(0 0 0 / 8%) !important;
    overflow: hidden;
    height: 100%;
    border-radius: 8px !important;
  }
}
</style>
