<template>
  <v-app class="qr-code">
    <v-app-bar color="#f1f3f4" fixed light app elevate-on-scroll>
      <v-container class="fill-height py-0" :class="{ 'px-0': mobile }">
        <div>
          <strong class="font-weight-black text-h6">{{ title }}</strong>
          <p class="mb-0 mt-n2 powered-by">Powered by kimduc.dev</p>
        </div>

        <v-spacer></v-spacer>

        <v-menu left bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on" color="#2196f3" dark depressed rounded>
              Export as
              <v-icon right>mdi-download</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item v-for="n in exportsTo" :key="n" @click="exportCanvasAs(n)">
              <v-list-item-icon>
                <v-icon>mdi-file-image</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>
                  .{{ n.split("/")[1].toUpperCase() }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-container>
    </v-app-bar>
    <v-card class="qr-code__content" flat tile color="transparent" min-height="100vh">
      <v-theme-provider light>
        <v-container class="pt-12">
          <div class="mb-12">
            <v-row>
              <v-col class="mb-3">
                <v-card color="transparent" flat rounded="xl" outlined>
                  <v-textarea
                    id="qrcode-input"
                    name="input-7-4"
                    v-model="content"
                    counter="1000"
                    filled
                    solo
                    flat
                    rows="8"
                    background-color="white"
                    placeholder="Enter your text"
                  ></v-textarea>
                </v-card>

                <small class="text-caption black--text">
                  * When choosing your colors other than black foreground make sure there
                  is enough contrast.
                </small>
              </v-col>
              <v-col cols="12" md="auto">
                <v-card rounded="xl" flat :width="mobile ? '100%' : 500">
                  <canvas v-show="false" id="viewer"></canvas>
                  <div id="qrcode-preview-card" class="pa-8 text-center">
                    <v-card width="150" flat class="mx-auto">
                      <img :src="previewSVG" id="preview-svg" />
                    </v-card>
                  </div>
                  <v-card outlined class="pt-4 mt-n3">
                    <v-expansion-panels accordion flat class="flex-column">
                      <CShapeStyle
                        v-if="qrcode"
                        v-model="qrcode.shapeStyle"
                        @change="render"
                        :color.sync="qrcode.content.color"
                      />
                      <v-divider></v-divider>
                      <CEdgesStyle
                        v-if="qrcode"
                        v-model="qrcode.shapeStyle"
                        @change="render"
                        :edges.sync="qrcode.edges"
                      />
                      <v-divider></v-divider>
                      <CLogoStyle
                        v-if="qrcode"
                        v-model="qrcode.logoAble"
                        @change="render"
                        @loadedLogo="loadedLogoHandle"
                      />
                      <v-divider></v-divider>
                      <CBackgroundStyle
                        v-if="qrcode"
                        :color.sync="qrcode.backgroundColor"
                        @change="render"
                      />
                      <v-divider></v-divider>

                      <CGradientStyle
                        v-if="qrcode"
                        :color.sync="qrcode.backgroundColor"
                        @allow="allowGradientHandle"
                        @change="changeGradientHandle"
                      />
                    </v-expansion-panels>
                  </v-card>
                </v-card>
              </v-col>
            </v-row>
          </div>
        </v-container>
      </v-theme-provider>
    </v-card>
    <div class="qr-code__top"></div>

    <v-overlay fixed :opacity="1" color="#f1f3f4" :value="!ready">
      <v-btn text color="#2196f3">
        <v-progress-circular
          indeterminate
          color="#2196f3"
          size="20"
          width="2"
          class="mr-2"
        ></v-progress-circular>
        Loading...
      </v-btn>
    </v-overlay>
  </v-app>
</template>

<script>
//
import CShapeStyle from "@/components/QRCode/ShapeStyle";
import CEdgesStyle from "@/components/QRCode/EdgesStyle";
import CLogoStyle from "@/components/QRCode/LogoStyle";
import CBackgroundStyle from "@/components/QRCode/BackgroundStyle";
import CGradientStyle from "@/components/QRCode/GradientStyle";
import { KDQRCode } from "@/utils/qrcode";

export default {
  components: {
    CShapeStyle,
    CEdgesStyle,
    CLogoStyle,
    CBackgroundStyle,
    CGradientStyle,
  },
  head: {
    title: 'QR Code Generator',
     meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Create custom QR Codes with Logo, Color and Design for free.'
      }
    ],
  },
  data() {
    return {
      content: "",
      qrcode: null,
      exportsTo: ["image/png", "image/jpeg", "image/bmp", "image/tiff"],
      previewSVG: ``,
      ready: false,
    };
  },
  computed: {
    title() {
      return this.mobile ? "QR Code" : "QR Code Generator";
    },
  },
  watch: {
    content() {
      this.render();
    },
  },
  methods: {
    //
    async render() {
      const previewSvgEl = document.getElementById("preview-svg");
      this.qrcode.viewSize = previewSvgEl.getBoundingClientRect().width * 2;

      this.qrcode.renderQRCodeContent(this.content);
      await this.qrcode.drawer();
      //
      if (process.browser) {
        this.svgToImg((src, canvas) => {
          this.previewSVG = src;
        });
      }
    },

    allowGradientHandle(allowGradient) {
      this.qrcode.allowGradient = allowGradient;

      this.render();
    },

    renderSvgGradient() {
      const svgEl = this.qrcode.context.getSvg();
      const maskPaths = Array.from(
        svgEl.querySelectorAll(`g path[fill="#000000FF"]`)
      ).map((path) => path.outerHTML.replace("#000000FF", "white"));

      let imageLogo = "";

      if (this.qrcode.logoAble) {
        imageLogo = svgEl.querySelector("g image").outerHTML;
      }

      const svgWidth = svgEl.getAttribute("width");
      const svgHeight = svgEl.getAttribute("height");

      const qrcodeRect = this.qrcode.qrcodeRect;
      const position2 = svgWidth - qrcodeRect.x;
      return `
      <svg width="${svgWidth}" height="${svgHeight}" viewBox="0 0 ${svgWidth} ${svgHeight}" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <rect width="${svgWidth}" height="${svgHeight}" fill="${
        this.qrcode.backgroundColor
      }" />  
        <mask id="mask_qrcode" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="${
          qrcodeRect.x
        }" y="${qrcodeRect.y}"
              width="${qrcodeRect.width}" height="${qrcodeRect.width}">
              ${maskPaths.join("\n")}
          </mask>

          <g>
            
            <g mask="url(#mask_qrcode)">
              <path d="M${position2} ${qrcodeRect.x}H${
        qrcodeRect.x
      }V${position2}H${position2}V${
        qrcodeRect.x
      }Z"  fill="url(#paint0_linear_406_165)" /> 
  
        </g>
            <g>
              ${imageLogo}
              </g>
            </g>

          
          <defs>
            <linearGradient id="paint0_linear_406_165" x1="${
              this.qrcode.gradient.angleCoords.x1
            }" y1="${this.qrcode.gradient.angleCoords.y1}" x2="${
        this.qrcode.gradient.angleCoords.x2
      }" y2="${this.qrcode.gradient.angleCoords.y2}"
            gradientUnits="userSpaceOnUse" >
             ${this.qrcode.gradient.stops.join("\n")}
            </linearGradient>
          </defs>
      </svg>
      `;
    },
    loadedLogoHandle(img) {
      this.qrcode.logo = img;
      this.qrcode.logoAble = true;
      this.render();
    },
    changeGradientHandle(e) {
      this.qrcode.gradient = Object.assign({}, e);
      //
      this.render();
    },
    exportCanvasAs(MIME_TYPE) {
      const wantedWidth = 500;
      const wantedHeight = wantedWidth;

      var img = document.createElement("img");

      img.onload = function () {
        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext("2d");
        canvas.width = wantedWidth;
        canvas.height = wantedHeight;
        ctx.imageSmoothingEnabled = true;
        ctx.drawImage(this, 0, 0, wantedWidth, wantedHeight);

        var imgURL = canvas.toDataURL(MIME_TYPE, 1.0);

        var dlLink = document.createElement("a");
        dlLink.download = "qr-code";
        dlLink.href = imgURL;
        dlLink.dataset.downloadurl = [MIME_TYPE, dlLink.download, dlLink.href].join(":");

        document.body.appendChild(dlLink);
        dlLink.click();
        document.body.removeChild(dlLink);
      };

      img.src = this.previewSVG;
    },

    svgToImg(cb) {
      let temp = document.createElement("img");
      let svg = "";
      if (this.qrcode.allowGradient) {
        svg = this.renderSvgGradient();
      } else {
        svg = this.qrcode.context.getSerializedSvg();
      }

      let imageSrc = URL.createObjectURL(
        new Blob([svg], {
          type: "image/svg+xml",
        })
      );

      console.log(
        URL.createObjectURL(
          new Blob([svg], {
            type: "image/svg+xml",
          })
        )
      );

      temp.src = imageSrc;
      temp.setAttribute("style", "position:fixed;left:-200vw;");
      document.body.appendChild(temp);
      temp.onload = function onload() {
        let canvas = document.createElement("canvas");
        canvas.width = temp.clientWidth;
        canvas.height = temp.clientHeight;
        let ctx = canvas.getContext("2d");
        ctx.imageSmoothingEnabled = true;
        ctx.drawImage(temp, 0, 0);
        let src = canvas.toDataURL("image/png", 1.0);
        cb(src, canvas);
        temp.remove();
        URL.revokeObjectURL(imageSrc);
      };
    },
  },
  mounted() {
    const canvas = document.getElementById("viewer");
    this.qrcode = new KDQRCode(2000, 2000, canvas, 2);
    this.render();
    //
    const previewSvgEl = document.getElementById("preview-svg");

    // new ResizeObserver(() => {
    //   const canvas = document.getElementById("viewer");
    //   this.qrcode = new KDQRCode(
    //     previewSvgEl.offsetWidth,
    //     previewSvgEl.offsetWidth,
    //     canvas,
    //     2
    //   );
    //   this.render();
    // }).observe(previewSvgEl);

    this.$nextTick(() => {
      setTimeout(() => {
        this.ready = true;
      }, 500);
    });
  },
};
</script>

<style lang="scss">
#qrcode-preview-card {
  position: sticky;
  top: 42px;
  background-color: #fff;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border: 1px solid rgba($color: #000, $alpha: 0.1);
  z-index: 2;
  box-shadow: 0px 12px 12px -12px rgba(0, 0, 0, 0.3);
}
.qr-code {
  background: #f1f3f4 !important;
  color: #000 !important;
  height: 100%;
  min-height: 100vh;

  &__top {
    position: fixed;
    left: 0;
    top: 0;
    height: 50vh;
    background-color: #f1f3f4;
    width: 100%;
    z-index: 0;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  #qrcode-input {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.2rem;
  }
}
#viewer {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  width: 100%;
  box-shadow: 0 5px 20px 0 rgba($color: #000, $alpha: 0.05) !important;
  border: 0.75px solid rgba($color: #000, $alpha: 0.2) !important;
}
#preview-svg {
  width: 100%;
  background-image: url(@/assets/images/transparent-background-grid-colorless-vector-21355532.jpg);
  background-repeat: repeat;
  background-size: 20px 20px;
  border-radius: 4px;
  overflow: hidden;
  svg {
    width: 100%;
  }
}
</style>
