<template>
  <div>
    <vue-gpickr v-model="gradient" @input="changeHandle" />
  </div>
</template>
<script>
import { VueGpickr, LinearGradient } from "vue-gpickr";

const gradient = new LinearGradient({
  angle: 0,
  stops: [
    ["#000000FF", 0],
    ["#9C0000FF", 1],
  ],
});

export default {
  components: {
    VueGpickr,
  },
  data() {
    return {
      gradient,
    };
  },
  methods: {
    changeHandle(e) {
      e.stops.sort((a, b) => {
        return a[1] - b[1];
      });

      const stops = e.stops.map(
        (stop) => ` <stop offset="${stop[1]}" stop-color="${stop[0]}" />`
      );
      var anglePI = -e.angle * (Math.PI / 180);
      var angleCoords = {
        x1: Math.round(50 + Math.sin(anglePI) * 50) + "%",
        y1: Math.round(50 + Math.cos(anglePI) * 50) + "%",
        x2: Math.round(50 + Math.sin(anglePI + Math.PI) * 50) + "%",
        y2: Math.round(50 + Math.cos(anglePI + Math.PI) * 50) + "%",
      };

      this.$emit("change", {
        stops,
        angleCoords,
      });
    },
  },
};
</script>
