
.vue-green-color {
    background: #42b883 !important;
}
.vue-green-color--text {
    color: #42b883 !important;
}
.vue-grey-color {
    background: #35495e;
}
.no-select {
    user-select: none;
}
.v-input__prepend-outer {
    margin-top: 0 !important;
}

.v-application--wrap {
    overflow: hidden;
}
