<template>
    <h1 v-if="type==='display-4'" :class="type">
        <slot></slot>
    </h1>
    <h2 v-else-if="type==='display-3'" :class="type">
        <slot></slot>
    </h2>
    <h3 v-else-if="type==='display-2'" :class="type">
        <slot></slot>
    </h3>
    <h4 v-else-if="type==='display-1'" :class="type">
        <slot></slot>
    </h4>
    <h5 v-else-if="type==='headline'" :class="type">
        <slot></slot>
    </h5>
    <h6 v-else-if="type==='title'" :class="type">
        <slot></slot>
    </h6>
    <p v-else-if="type==='subheading'" :class="type">
        <slot></slot>
    </p>
    <p v-else-if="type==='body-2'" :class="type">
        <slot></slot>
    </p>
    <p v-else-if="type==='body-1'" :class="type">
        <slot></slot>
    </p>
    <p v-else-if="type==='caption'" :class="type">
        <slot></slot>
    </p>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      required: false,
      default: "caption"
    },
    dataA: {
      type: String,
      required: false,
      default: "data-a"
    }
  }
};
</script>

<style>
</style>
