<template>
  <div class="d-color-picker-panel">
    <div class="d-color-picker">
      <div class="d-color-picker-gradient">
        <canvas v-color-panel="color_current" @mousedown="getColorGradientDown" @mousemove="getColorGradientMove" @mouseup="getColorGradientUp"></canvas>
        <div ref="color_gradient_arrow" class="color-gradient-arrow" @mouseup="flag_pick_gradient=false"></div>
      </div>
      <div class="d-color-picker-color mx-2">
        <canvas v-color-column1="" @mousedown="getColorColumn1Down" @mousemove="getColorColumn1Move" @mouseup="getColorColumn1Up">
        </canvas>
        <div ref="color_column1_arrow" class="color-column1-arrow" @mouseup="flag_pick_column_1=false"></div>
      </div>
    </div>
    <v-btn :style="{backgroundColor:'#'+color_hex}">Color</v-btn>
    <div class="d-color-picker-input">
      <select v-model="color_type">
        <option value="rgb">RGB</option>
        <option value="hex">Hex</option>
      </select>
      <input v-if="color_type==='hex'" class="input-hex" type="text" @keypress="ruleHex" v-model="color_hex">
      <div v-else class="input-rgb">
        <input type="text" @keypress="ruleRgb($event,color_rgb.r)" v-model="color_rgb.r">
        <input type="text" @keypress="ruleRgb($event,color_rgb.g)" v-model="color_rgb.g">
        <input type="text" @keypress="ruleRgb($event,color_rgb.b)" v-model="color_rgb.b">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DColorPicker",
  data() {
    return {
      color_type: "hex",
      color_hex: "",
      color_rgb: {},
      color_column1: null,
      color_current: null,
      flag_pick_column_1: false,
      flag_pick_gradient: false
    };
  },
  directives: {
    colorPanel(el, bind) {
      let ctx = el.getContext("2d");
      let width = (el.width = 150);
      let height = (el.height = 150);
      ctx.clearRect(0, 0, ctx.width, ctx.height);

      ctx.fillStyle = "#" + bind.value || "red";
      ctx.fillRect(0, 0, width, height);
      //
      var grd = ctx.createLinearGradient(2, 2, width, 0);
      grd.addColorStop(0, "white");
      grd.addColorStop(1, "transparent");
      ctx.fillStyle = grd;
      ctx.fillRect(0, 0, width, height);
      //
      grd = ctx.createLinearGradient(0, 0, 0, height);
      grd.addColorStop(0, "transparent");
      grd.addColorStop(1, "black");
      ctx.fillStyle = grd;
      ctx.fillRect(0, 0, width, height);
      //
      // grd = ctx.createLinearGradient(0, 0, width / 2, height / 2);
      // grd.addColorStop(0, "white");
      // grd.addColorStop(1, "transparent");
      // ctx.fillStyle = grd;
      // ctx.fillRect(0, 0, width, height);
      // //
      // ctx.fillStyle = "white";
      // ctx.fillRect(0, 0, 1, 1);
    },
    colorColumn1(el) {
      let ctx = el.getContext("2d");
      let width = (el.width = 15);
      let height = (el.height = 150);
      ctx.clearRect(0, 0, ctx.width, ctx.height);

      //
      var grd = ctx.createLinearGradient(0, 0, 0, height);
      grd.addColorStop(0, "red");
      grd.addColorStop(0.16, "violet");
      grd.addColorStop(0.16 * 2, "blue");
      grd.addColorStop(0.16 * 3, "cyan");
      grd.addColorStop(0.16 * 4, "lightgreen");
      grd.addColorStop(0.16 * 5, "yellow");
      grd.addColorStop(1, "red");
      ctx.fillStyle = grd;
      ctx.fillRect(0, 0, width, height);
    }
  },
  watch: {
    color_type(newval) {
      if (newval === "hex") {
        if (
          this.color_rgb &&
          this.color_rgb.r &&
          this.color_rgb.g &&
          this.color_rgb.b
        ) {
          this.color_hex =
            this.numberToHex(this.color_rgb.r) +
            this.numberToHex(this.color_rgb.g) +
            this.numberToHex(this.color_rgb.b);
        }
      } else {
        if (this.color_hex.length >= 6 || this.color_hex.length === 3) {
          let r, g, b;
          if (this.color_hex.length >= 6) {
            r = this.color_hex.substring(0, 2);
            g = this.color_hex.substring(2, 4);
            b = this.color_hex.substring(4, 6);
          } else if (this.color_hex.length === 3) {
            r = this.color_hex[0].repeat(2);
            g = this.color_hex[1].repeat(2);
            b = this.color_hex[2].repeat(2);
          }
          // cal red
          this.color_rgb.r = parseInt(
            this.fromAToFReturnNumber(r[0]) * 16 +
              this.fromAToFReturnNumber(r[1])
          );
          this.color_rgb.g = parseInt(
            this.fromAToFReturnNumber(g[0]) * 16 +
              this.fromAToFReturnNumber(g[1])
          );
          this.color_rgb.b = parseInt(
            this.fromAToFReturnNumber(b[0]) * 16 +
              this.fromAToFReturnNumber(b[1])
          );
        }
      }
    }
  },
  methods: {
    fromAToFReturnNumber(val) {
      if (val.charCodeAt(0) >= 97 && val.charCodeAt(0) <= 102) {
        return val.charCodeAt(0) - 87;
      }
      return val;
    },
    fromAToFReturnHex(val) {
      if (val >= 10 && val <= 15) {
        return String.fromCharCode(val + 87);
      }
      return val;
    },
    numberToHex(val) {
      let chart1 = this.fromAToFReturnHex(Math.floor(val / 16));
      let chart2 = this.fromAToFReturnHex(val % 16);
      return chart1 + "" + chart2;
    },
    ruleRgb(e, val) {
      if (e.keyCode < 48 || e.keyCode > 57 || (val && val.length >= 3))
        e.preventDefault();
    },
    ruleHex(e) {
      if (
        e.keyCode < 48 ||
        (e.keyCode > 57 && e.keyCode < 97) ||
        e.keyCode > 102 ||
        (this.color_hex && this.color_hex.length >= 6)
      )
        e.preventDefault();
    },
    getColorGradientDown(e) {
      this.flag_pick_gradient = true;
      let ctx = e.target.getContext("2d");
      let p = ctx.getImageData(e.offsetX, e.offsetY, 1, 1).data;
      this.color_rgb.r = p[0];
      this.$set(this.color_rgb, "r", p[0]);
      this.$set(this.color_rgb, "g", p[1]);
      this.$set(this.color_rgb, "b", p[2]);
      //
      this.color_hex =
        this.numberToHex(this.color_rgb.r) +
        this.numberToHex(this.color_rgb.g) +
        this.numberToHex(this.color_rgb.b);
      //
      // this.color_current = this.color_hex;
      // move arrow
      this.$refs.color_gradient_arrow.style.top = e.offsetY - 4 + "px";
      this.$refs.color_gradient_arrow.style.left = e.offsetX - 4 + "px";
    },
    getColorGradientMove(e) {
      if (this.flag_pick_gradient) {
        let ctx = e.target.getContext("2d");
        let p = ctx.getImageData(e.offsetX, e.offsetY, 1, 1).data;
        this.color_rgb.r = p[0];
        this.$set(this.color_rgb, "r", p[0]);
        this.$set(this.color_rgb, "g", p[1]);
        this.$set(this.color_rgb, "b", p[2]);
        //
        this.color_hex =
          this.numberToHex(this.color_rgb.r) +
          this.numberToHex(this.color_rgb.g) +
          this.numberToHex(this.color_rgb.b);
        // move arrow
        this.$refs.color_gradient_arrow.style.top = e.offsetY - 4 + "px";
        this.$refs.color_gradient_arrow.style.left = e.offsetX - 4 + "px";
      }
      //
      // this.color_current = this.color_hex;
    },
    getColorGradientUp() {
      this.flag_pick_gradient = false;
    },
    getColorColumn1Down(e) {
      if (this.flag_pick_column_1) {
        return (this.flag_pick_column_1 = false);
      }
      this.flag_pick_column_1 = true;
      let ctx = e.target.getContext("2d");
      let p = ctx.getImageData(e.offsetX, e.offsetY, 1, 1).data;
      this.color_rgb.r = p[0];
      this.$set(this.color_rgb, "r", p[0]);
      this.$set(this.color_rgb, "g", p[1]);
      this.$set(this.color_rgb, "b", p[2]);
      //
      this.color_hex =
        this.numberToHex(this.color_rgb.r) +
        this.numberToHex(this.color_rgb.g) +
        this.numberToHex(this.color_rgb.b);
      //
      this.color_current = this.color_hex;
      // move arrow
      this.$refs.color_column1_arrow.style.top = e.offsetY + "px";
    },
    getColorColumn1Move(e) {
      if (this.flag_pick_column_1) {
        let ctx = e.target.getContext("2d");
        let p = ctx.getImageData(e.offsetX, e.offsetY, 1, 1).data;
        this.color_rgb.r = p[0];
        this.$set(this.color_rgb, "r", p[0]);
        this.$set(this.color_rgb, "g", p[1]);
        this.$set(this.color_rgb, "b", p[2]);
        //
        this.color_hex =
          this.numberToHex(this.color_rgb.r) +
          this.numberToHex(this.color_rgb.g) +
          this.numberToHex(this.color_rgb.b);
        //
        this.color_current = this.color_hex;
        // move arrow
        this.$refs.color_column1_arrow.style.top = e.offsetY + "px";
      }
    },
    getColorColumn1Up() {
      this.flag_pick_column_1 = false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.d-color-picker-panel {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  user-select: none;
  padding: 16px;
  border-radius: 4px;
  .d-color-picker {
    * {
      display: inline-flex;
    }
    .d-color-picker-gradient {
      position: relative;
      .color-gradient-arrow {
        position: absolute;
        left: 0;
        top: 10px;
        background-color: transparent;
        border: 2px solid #fff;
        width: 7px;
        height: 7px;
        border-radius: 50px;
        box-shadow: 0 0 1px #000;
      }
    }
    .d-color-picker-color {
      border-radius: 4px;
      position: relative;
      .color-column1-arrow {
        position: absolute;
        left: 0;
        top: 10px;
        background-color: transparent;
        border: 1px solid #fff;
        width: 100%;
        height: 3px;
        display: block;
      }
    }
    .d-color-picker-alpha {
      border-radius: 4px;
      margin-left: 10px;
      width: 12px;
      height: 150px;
      background: blue;
    }
  }
  .d-color-picker-input {
    select {
      padding: 0 5px;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      margin-right: 15px;
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    }
    .input-hex,
    .input-rgb input {
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      outline: none;
      margin-top: 10px;
      padding: 0 5px;
      text-align: center;
    }
    .input-hex,
    input-rgb {
      width: 130px;
    }
    .input-rgb {
      display: inline;
    }
    .input-rgb input {
      max-width: 40px;
      margin-right: 4px;
    }
  }
}
</style>
