<template>
  <div class="d-table">
    <table>
      <tr>
        <th v-for="(header, index) in headers" :key="'header-' + index">
          {{ header.title }}
        </th>
      </tr>
      <template
        v-for="(item, index) in items"
        :class="index % 2 !== 0 ? 'grey lighten-4' : 'white'"
      >
        <slot name="data" :item="item" :index="index">Default</slot>
      </template>
    </table>
  </div>
</template>

<script>
export default {
  props: {
    headers: {
      type: Array,
      default: () => [],
    },
    items: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style>
.d-table table {
  border-collapse: collapse;
}
.d-table td {
  border-top: 1px solid #ddd;
  padding: 6px 16px;
  min-width: 100px;
}
</style>
