<template>
  <v-menu light offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        rounded
        depressed
        v-bind="attrs"
        v-on="{ click: logged ? on.click : buttonHandle }"
        :class="{ 'pl-0': logged }"
      >
        <template v-if="logged">
          <v-avatar size="32" class="mr-2">
            <img :src="user.photoURL" :alt="user.displayName" />
          </v-avatar>
          <small>{{ user.displayName }}</small>
        </template>
        <template v-else>
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            width="18px"
            height="18px"
            viewBox="0 0 48 48"
            class="mr-2"
          >
            <g>
              <path
                fill="#EA4335"
                d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"
              ></path>
              <path
                fill="#4285F4"
                d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"
              ></path>
              <path
                fill="#FBBC05"
                d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"
              ></path>
              <path
                fill="#34A853"
                d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"
              ></path>
              <path fill="none" d="M0 0h48v48H0z"></path>
            </g>
          </svg>
          Sign-In
        </template>
      </v-btn>
    </template>

    <v-card v-if="user">
      <v-card-text>
        <div>{{ user.email }}</div>
      </v-card-text>
      <v-divider></v-divider>
      <v-list dense>
        <v-list-item @click="signOut">
          <v-list-item-title>Sign-Out</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-card>
  </v-menu>
</template>

<script>
import { GoogleAuthProvider } from "@firebase/auth";

import { db, auth } from "@/firebase";

export default {
  data() {
    return {
      errorMessage: null,
      user: null,
    };
  },
  computed: {
    logged() {
      return this.user && !this.errorMessage;
    },
  },
  methods: {
    buttonHandle() {
      if (this.logged) {
        this.signOut();
      } else {
        this.signIn();
      }
    },
    signIn() {
      var provider = new GoogleAuthProvider();

      auth
        .signInWithPopup(provider)
        .then((result) => {
          // This gives you a Google Access Token. You can use it to access the Google API.
          var token = result.credential.accessToken;
          // The signed-in user info.
          var user = result.user;
          // ...
          console.log(user);
        })
        .catch(function (error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
          console.log(error);
        });
    },
    signOut() {
      auth
        .signOut()
        .then(function () {
          console.log("Sign-out successful.");
          this.user = null;
          this.errorMessage = null;
        })
        .catch(function (error) {
          console.log("An error happened.");
        });
    },
  },
  mounted() {
    auth.onAuthStateChanged((user) => {
      if (user) {
        this.user = user;
        this.errorMessage = null;
        console.log(user);
        //
      } else {
        this.user = null;
        this.errorMessage = null;
        // No user is signed in.
      }
    });
  },
};
</script>

<style>
</style>