<template>
  <div class="d-progressbar" :aria-valuenow="valdata">
    <div class="perspective">
      <div class="bar">
        <div class="bar-face floor percentage"></div>
        <div class="bar-face back percentage"></div>
        <div class="bar-face left percentage"></div>
        <div class="bar-face right"></div>
        <div class="bar-face value"></div>
        <div class="bar-face roof percentage"></div>
        <div class="bar-face front percentage"></div>
      </div>
    </div>
    <div class="label-bar-pad">
      <div class="label-bar">
        <div class="arrow">{{valdata}}%</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: [Number, String],
      required: false,
      default: 0
    },
    color: {
      type: String,
      required: false,
      default: "236, 0, 113"
    },
    light: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data() {
    return {
      valdata: this.value >= 0 && this.value <= 100 ? this.value : 0
    };
  },
  watch: {
    value(newval) {
      this.val = newval;
    },
    valdata(newval) {
      this.$emit("input", newval);
    },
    color(newval) {
      document.documentElement.style.setProperty("--color", newval);
    },
    light(newval) {
      if (newval) {
        document.documentElement.style.setProperty("--white", "255,255,255");
        document.documentElement.style.setProperty("--black", "66,66,66");
      } else {
        document.documentElement.style.setProperty("--white", "66,66,66");
        document.documentElement.style.setProperty("--black", "255,255,255");
      }
    }
  },
  computed: {
    val: {
      get() {
        return this.valdata;
      },
      set(val) {
        if (val >= 0 && val <= 100) {
          this.valdata = val;
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
:root {
  --color: 236, 0, 113;
  --white: 255, 255, 255;
  --black: 66, 66, 66;
}
$light-gray: #e0e0e0;
// var(--color): #ec0071;
.d-progressbar {
  padding: 0 3.65em;
  position: relative;
  .perspective {
    perspective: 12em;
    perspective-origin: 50% 50%;
    font-size: 5em;
    text-align: center;
    .bar {
      width: 4em;
      height: 1em;
      margin-top: 1em;
      transform: rotateX(60deg);
      transform-style: preserve-3d;
      display: inline-block;
      position: relative;
      .bar-face {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--white), 0.5);
        transform-origin: 50% 100%;
        &.roof {
          background: linear-gradient(
            to top,
            rgba(255, 255, 255, 0.9) -10%,
            rgba(var(--white), 0.2) 40%
          );
          transform: translateZ(1em);
          z-index: 1;
        }
        &.back {
          // background: red;
          background: linear-gradient(
            to top,
            rgba(var(--black), 0.5) -100%,
            rgba(var(--white), 0.2) 40%
          );
          transform: rotateX(-90deg) translateZ(-1em);
        }
        &.front {
          background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.7) -10%,
            rgba(var(--white), 0.5) 40%
          );
          transform: rotateX(-90deg);
          z-index: 1;
          // border-top: 1px solid #eee;
        }
        &.left {
          width: 1em;
          transform: rotateY(90deg) translateX(-0.5em) translateZ(-0.5em);
          background: rgba(var(--color), 0.8);
        }
        &.right {
          width: 1em;
          left: auto;
          right: 0;
          transform: rotateY(90deg) translateX(-0.5em) translateZ(0.5em);
          background: linear-gradient(
            -120deg,
            rgba(var(--black), 0.5) -100%,
            rgba(var(--white), 0.2) 40%
          );
        }
        &.floor {
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2em 0.1em -5px rgba(0, 0, 0, 0.3);
          background: linear-gradient(
            to bottom,
            rgba(var(--black), 0.5) -100%,
            rgba(var(--white), 0.2) 70%
          );
        }
        &.percentage::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0.5em;
          height: 100%;
          background: rgba(var(--color), 0.8);
          transition: 0.2s ease-in-out;
        }
        &.floor.percentage::before {
          z-index: 1;
          box-shadow: 0em 0.2em 1.4em 0.1em rgba(var(--color), 1);
        }
        &.roof.percentage::before {
          background: linear-gradient(
            to top,
            rgba(255, 255, 255, 0.1) 60%,
            rgba(var(--color), 0.8) 100%
          );
        }
        &.front.percentage::before {
          background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.7) -10%,
            rgba(var(--color), 0.8) 40%
          );
          // border-top: 1px solid rgba(#000, 0.1);
        }
        &.back.percentage::before {
          background: rgba(var(--color), 1);
        }
        &.value {
          width: 1em;
          transform: rotateY(90deg) translateX(-0.5em) translateZ(-0.5em);
          background: rgba(var(--color), 0.9);
          z-index: 1;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
  .label-bar {
    position: absolute;
    bottom: 2em;
    left: 0;
    perspective: 12em;
    margin-left: -2.1em;
    transition: 0.2s ease-in-out;
    .arrow {
      background: rgba(var(--color), 1);
      color: rgba(var(--white), 1);
      width: 60px;
      border-radius: 4px;
      text-align: center;
      font-size: 20px;
      transform: rotateX(50deg);
      position: relative;
      filter: drop-shadow(0 0.2em 0.1em rgba(0, 0, 0, 0.3));
    }
    .arrow:before {
      content: "";
      position: absolute;
      top: -10px;
      left: 20px;
      border-bottom: 10px solid rgba(var(--color), 1);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }
  .label-bar-pad {
    height: 20px;
    width: 100%;
    position: relative;
  }
  @for $i from 0 to 101 {
    &[aria-valuenow="#{$i}"] {
      .perspective .bar-face.percentage:before {
        width: $i * 1%;
      }
      .bar-face.value {
        left: $i * 1%;
      }
      .label-bar {
        left: $i * 1%;
      }
    }
  }
}
</style>
