<template>
  <v-app
    :class="{
      mobile: $vuetify.breakpoint.mobile,
    }"
  >
    <v-main id="main-content">
      <router-view />
    </v-main>
  </v-app>
</template>
<script>
export default {
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="scss">
html,
body {
  overflow-x: hidden;
}
</style>
