<template>
  <v-theme-provider light :dark="false">
    <v-container class="love-diary__show py-6">
      <v-card
        v-if="loading"
        max-width="620"
        flat
        color="transparent"
        class="mx-auto pb-12"
      >
        <p>Loading...</p>
      </v-card>
      <v-card v-else max-width="620" flat color="transparent" class="mx-auto pb-12">
        <h2 :class="`text-h5 font-weight-black ${item.color}--text`">
          {{ item.title }}
        </h2>
        <h6 class="text-subtitle-1 font-weight-bold grey--text ">
          {{ $moment(item.date, "YYYY-MM-DD").format("dddd - MMMM DD, YYYY") }}
        </h6>
         <v-card :color="item.color" height="6" width="32" flat rounded="lg" class="mb-6"></v-card>
        <div v-if="item.img" class="pt-2 mb-6">
          <v-img
            class="rounded-lg grey"
            :src="item.img"
            :aspect-ratio="4 / 2.5"
            position="top center"
            contain
            :style="{
              '--img': `url(${item.img})`,
            }"
          >
            <template v-slot:placeholder>
              <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular
                  indeterminate
                  color="grey lighten-5"
                ></v-progress-circular>
              </v-row>
            </template>
          </v-img>
        </div>
        <div class="love-diary__show__content">
          <div
            class="love-diary__show__content__viewer ProseMirror"
            v-html="item.content"
          ></div>
        </div>
      </v-card>
      <v-dialog v-model="editDialog" max-width="500">
        <v-card class="rounded-lg" outlined light>
          <div class="pa-4">
            <div class="d-flex algin-center">
              <h2 :class="`text-h6 font-weight-bold mb-3`">Chỉnh sửa</h2>
              <v-spacer></v-spacer>
              <v-btn icon @click="editDialog = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </div>
            <v-text-field label="Title" v-model="formEdit.title" outlined>
              <template v-slot:prepend-inner>
                <v-menu
                  :ref="'menucolor_'"
                  :close-on-content-click="false"
                  :return-value.sync="formEdit.color"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-avatar size="28" v-on="on" :color="formEdit.color" class="mr-2">
                    </v-avatar>
                  </template>
                  <v-card light>
                    <v-color-picker
                      class="ma-2"
                      v-model="formEdit.color"
                      show-swatches
                      hide-mode-switch
                      hide-inputs
                      hide-canvas
                      light
                    >
                    </v-color-picker>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs['menucolor_' ].isActive = false"
                      >
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs['menucolor_' ].save(formEdit.color)"
                      >
                        OK
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-menu>
              </template>
            </v-text-field>
            <v-menu
              :ref="'menu_'"
              :close-on-content-click="false"
              :return-value.sync="formEdit.date"
              transition="scale-transition"
              offset-y
              min-width="290px"
              light
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  label="Date"
                  :value="$moment(formEdit.date, 'YYYY-MM-DD').format('MMMM DD, YYYY')"
                  outlined
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="formEdit.date" no-title scrollable light>
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="primary"
                  @click="$refs['menu_'].isActive = false"
                  >Cancel</v-btn
                >
                <v-btn text color="primary" @click="$refs['menu_'].save(formEdit.date)"
                  >OK</v-btn
                >
              </v-date-picker>
            </v-menu>
            <v-card @click="formEditInputClick" class="mb-12">
              <v-img
                v-if="formEdit.img"
                :aspect-ratio="16 / 9"
                :src="formEdit.img"
                contain
              ></v-img>
              <v-responsive v-else :aspect-ratio="16 / 9">
                <div class="fill-height d-flex align-center justify-center grey--text">
                  Click to add an Image
                </div>
              </v-responsive>
              <v-file-input
                :ref="`editFileInput-${formEdit.key}`"
                v-show="false"
                :rules="rulesImg"
                accept="image/png, image/jpeg, image/bmp"
                placeholder="Pick an Image"
                prepend-icon="mdi-camera"
                label="Image"
                @change="formEditImgChange"
              ></v-file-input>

              <v-fab-transition>
                <v-btn
                  v-show="formEdit.img"
                  color="red"
                  fab
                  dark
                  small
                  absolute
                  bottom
                  right
                  @click.stop="formEdit.img = null"
                >
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </v-fab-transition>
            </v-card>
            <vue-editor
              @update="formEdit.content = $event"
              :content="formEdit.content"
            ></vue-editor>

            <div class="d-flex align-center mx-0 pt-6">
              <v-btn
                :disabled="updateLoading || deleteLoading"
                :loading="deleteLoading"
                @click="openDel()"
                color="error"
                rounded
                depressed
                large
              >
                <v-icon> mdi-delete</v-icon>
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn
                :disabled="updateLoading || deleteLoading"
                
                @click="editDialog=false"
                class="mr-2"
                large
                rounded
                depressed
              >
                Cancel
              </v-btn>
              <v-btn
                :disabled="updateLoading || deleteLoading"
                :loading="updateLoading"
                @click="updateTimeline()"
                color="green"
                large
                rounded
                depressed
              >
                Update
              </v-btn>
            </div>
          </div>
        </v-card>
      </v-dialog>

       <v-dialog v-model="delDialog" persistent max-width="290">
        <v-card>
          <v-card-title class="headline">Xác nhận</v-card-title>
          <v-card-text>Bạn có chắc chắn muốn xóa bài này?</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="delDialog = false">Cancel</v-btn>
            <v-btn color="green darken-1" text @click="delTimelineItem"> OK </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>


      <v-fab-transition>
        <v-btn color="pink" dark fixed bottom right fab @click="openEditDialog">
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
      </v-fab-transition>
    </v-container>
  </v-theme-provider>
</template>
<script>
import { db, auth, storage } from "@/utils/firebase";
import { Timestamp, doc, getDoc, writeBatch } from "@firebase/firestore";
import { ref, getDownloadURL } from "@firebase/storage";

export default {
  layout: "love",
  data: () => {
    return {
      item: {},
      loading: true,
      editDialog: false,
      formEdit: {
        date: "",
        title: "",
        content: "",
        color: "#FF00FF",
        img: null,
        file: null,
        baseImg: null,
      },
      delDialog: false,
      updateLoading: false,
      deleteLoading: false,
      
      colorEdit: null,
        rulesImg: [
        (value) =>
          !value || value.size < 2000000 || "Avatar size should be less than 2 MB!",
      ],
    };
  },
  computed: {
    itemId() {
      return this.$route.params.id;
    },
  },
  
  methods: {
     formEditImgChange(file) {
      if (file) {
        this.formEdit.file = file;
        this.formEdit.img = URL.createObjectURL(file);
      }
    },
      formEditInputClick() {
      const el = this.$refs[`editFileInput-${this.formEdit.key}`][0];
      el.$el.querySelector("input").click();
    },
      openDel() {
      this.delDialog = true;
    },
    async updateTimeline() {
      const item = this.item;
      this.updateLoading = true;
      var imgName = "";

      if (this.formEdit.baseImg) {
        if (this.formEdit.img !== item.img) {
          try {
            // delete img
            const imgRef = ref(storage, this.formEdit.baseImg);
            await deleteObject(imgRef);
          } catch (error) {}
        } else {
          imgName = this.formEdit.baseImg;
        }
      }

      // new img
      if (this.formEdit.file) {
        const file = this.formEdit.file;
        imgName = `mylove/${makeid(9)}.${file.name.split(".").pop()}`;
        const storageRef = ref(storage, imgName);
        const snapshot = await uploadBytes(storageRef, file);
      }

      const batch = writeBatch(db);

      const editData = {
        date: Timestamp.fromDate(new Date(this.formEdit.date)),
        title: this.formEdit.title,
        content: this.formEdit.content,
        color: this.formEdit.color,
        img: imgName,
      }; 
      const itemRef = doc(db, "timelines", this.itemId);
 
      batch.update(itemRef, editData);
      batch.commit();

      item.edit = false;
      this.delDialog = false;
      this.updateLoading = false;
      this.editDialog = false;
      //
      this.item = Object.assign({}, this.item, this.formEdit)

      //

      this.formEdit = {
        date: this.$moment().format("YYYY-MM-DD"),
        title: "",
        content: "",
        color: "#FF00FF",
        img: null,
        file: null,
        baseImg: null,
      };
      // 
      // 
    },
    async delTimelineItem() {
      this.deleteLoading = true;
      if (this.item.baseImg) {
        try {
          // delete img
          const imgRef = ref(storage, this.item.baseImg);
          await deleteObject(imgRef);
        } catch (error) {}
      }

      const batch = writeBatch(db);
      const itemRef = doc(db, "timelines", this.itemId);
      batch.delete(itemRef);
      batch.commit();

      this.$router.back();

      this.item.edit = false;
      this.item = null;
      this.delDialog = false;
      this.deleteLoading = false;
    },

    openEditDialog() {
      this.editDialog = true;
      this.item.edit = true;

      this.formEdit.key = this.itemId;
      this.formEdit.title = this.item.title;
      this.formEdit.date = this.item.date;
      this.formEdit.content = this.item.content;
      this.formEdit.color = this.item.color;
      this.formEdit.img = this.item.img;
      this.formEdit.baseImg = this.item.baseImg;
    },
    async fecthData() {
      this.loading = true;
      const itemRef = doc(db, "timelines", this.itemId);

      const docSnap = await getDoc(itemRef);

      const data = docSnap.data();
      this.item = data;
      this.item.date = this.$moment(new Date((data.date.seconds || 0) * 1000)).format("YYYY-MM-DD")

      if (this.item.img) {
        this.item.baseImg = this.item.img;
        getDownloadURL(ref(storage, this.item.img)).then((url) => {
          this.item.img = url;
        });
      }
      this.loading = false;
    },
  },
  beforeMount() {
    this.fecthData();
  },
};
</script>
<style lang="scss">
.love-diary__show {
  &__content {
    &__viewer {
      p {
        font-size: 18px;
        line-height: 26px !important;
        word-spacing: 3px;
        color: rgba($color: #000000, $alpha: .68);
      }
    }
  }

  .v-image {
    position: relative;
    .v-image__image {
      z-index: 1;
    }
    &::before {
      content: "" !important;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: var(--img);
      z-index: 0;
      background-size: cover;
      background-position: center center;
      filter: blur(12px);
    }
  }
}
</style>
