<template>
  <v-theme-provider light :dark="false">
    <v-container grid-list-xs class="py-6">
      <v-card max-width="800" class="mx-auto" flat color="transparent">
        <v-row>
          <v-col cols="12" md="6" v-for="(item, i) in items" :key="i">
            <LoveDiaryCard :item="item" />
          </v-col>
          <v-col v-if="!isEndList" cols="12">
            <v-btn @click="fecthList" block text :loading="loading">Load more</v-btn>
          </v-col>
        </v-row>
      </v-card>

      <v-dialog v-model="newDialog" max-width="500">
        <v-card light class="add-card rounded-lg mx-auto">
          <div class="pa-4">
            <div class="d-flex algin-center">
              <h2 :class="`text-h6 font-weight-bold mb-3`">Thêm mới</h2>
              <v-spacer></v-spacer>
              <v-btn icon @click="newDialog = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </div>
            <v-text-field label="Title" v-model="formNew.title" outlined>
              <template v-slot:prepend-inner>
                <v-menu
                  ref="menu_add_color"
                  :close-on-content-click="false"
                  :return-value.sync="formNew.color"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-avatar size="28" class="mr-2" v-on="on" :color="formNew.color">
                    </v-avatar>
                  </template>
                  <v-card light>
                    <v-color-picker
                      class="ma-2"
                      v-model="formNew.color"
                      show-swatches
                      hide-mode-switch
                      hide-inputs
                      hide-canvas
                      light
                    >
                    </v-color-picker>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs['menu_add_color'].isActive = false"
                      >
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs['menu_add_color'].save(formNew.color)"
                      >
                        OK
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-menu>
              </template>
            </v-text-field>
            <v-menu
              ref="menu_add"
              :close-on-content-click="false"
              :return-value.sync="formNew.date"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  label="Date"
                  :value="$moment(formNew.date, 'YYYY-MM-DD').format('MMMM DD, YYYY')"
                  outlined
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="formNew.date" no-title scrollable light>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="$refs['menu_add'].isActive = false"
                  >Cancel</v-btn
                >
                <v-btn text color="primary" @click="$refs['menu_add'].save(formNew.date)">
                  OK
                </v-btn>
              </v-date-picker>
            </v-menu>

            <v-card outlined @click="formNewInputClick" class="mb-4">
              <v-img
                v-if="formNew.img"
                :aspect-ratio="16 / 9"
                :src="formNew.img"
                contain
              ></v-img>
              <v-responsive v-else :aspect-ratio="16 / 4">
                <div class="fill-height d-flex align-center justify-center grey--text">
                  <Icon icon="majesticons:image-plus" height="24" class="mr-2" />
                  Add an Image
                </div>
              </v-responsive>
              <v-file-input
                ref="newFileInput"
                v-show="false"
                :rules="rulesImg"
                accept="image/png, image/jpeg, image/bmp"
                placeholder="Pick an Image"
                prepend-icon="mdi-camera"
                label="Image"
                @change="formNewImgChange"
              ></v-file-input>

              <v-fab-transition>
                <v-btn
                  v-show="formNew.img"
                  color="red"
                  fab
                  dark
                  small
                  absolute
                  bottom
                  right
                  @click.stop="formNew.img = null"
                >
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </v-fab-transition>
            </v-card>

            <vue-editor @update="formNew.content = $event"></vue-editor>

            <div class="pt-6 d-flex">
              <v-row>
                <v-col cols="6">
                  <v-btn @click="newDialog = false" rounded large block depressed>
                    Close
                  </v-btn>
                </v-col>
                <v-col cols="6">
                  <v-btn
                    :disabled="addLoading"
                    :loading="addLoading"
                    @click="addTimeline"
                    block
                    rounded
                    large
                    color="green"
                    depressed
                  >
                    Submit
                  </v-btn>
                </v-col>
              </v-row>
            </div>
          </div>
        </v-card>
      </v-dialog>

      <v-fab-transition>
        <v-btn color="pink" dark fixed bottom right fab @click="openNewDialog">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-fab-transition>
    </v-container>
  </v-theme-provider>
</template>

<script>
import { db, auth, storage } from "@/utils/firebase";
import {
  collection,
  addDoc,
  doc,
  writeBatch,
  onSnapshot,
  query,
  orderBy,
  limit,
  getDocs,
  startAfter,
  Timestamp,
} from "@firebase/firestore";
import { ref, uploadBytes, getDownloadURL, deleteObject } from "@firebase/storage";
import { getTextColor, makeid } from "@/utils";
//
import VueEditor from "@/components/VueEditor/Index.vue";
import LoginCard from "@/components/Love/LoginCard.vue";
import ErrorCard from "@/components/Love/ErrorCard.vue";
import DurationCard from "@/components/Love/DurationCard.vue";

import LoveDiaryCard from "@/components/Love/DiaryCard.vue";

export default {
  layout: "love",
  name: "diary-list",
  components: {
    VueEditor,
    LoginCard,
    ErrorCard,
    DurationCard,
    LoveDiaryCard,
  },
  data() {
    return {
      loading: false,
      //
      //
      dataReady: false,
      //
      unsubscribe: null,
      menu: false,

      colorNew: null,

      formNew: {
        date: "",
        title: "",
        content: "",
        color: "#FF00FF",
        img: null,
        file: null,
      },

      //
      timelines: [],
      errorMessage: null,
      editor: null,
      rulesImg: [
        (value) =>
          !value || value.size < 2000000 || "Avatar size should be less than 2 MB!",
      ],
      addLoading: false,

      newFormShow: false,

      dates: [
        {
          date: "30/04/1998",
          title: "Sinh nhật Em",
        },
        {
          date: "08/09/1998",
          title: "Sinh nhật Anh",
        },

        {
          date: "25/08/2018",
          title: "Ngày đầu gặp nhau",
        },
        {
          date: "19/11/2018",
          title: "Anh tỏ tình",
        },
        {
          date: "09/04/2023",
          title: "Cưới nhà Nữ",
        },
        {
          date: "07/05/2023",
          title: "Cưới nhà Nam",
        },
      ],

      items: [],
      lastVisible: null,
      //
      newDialog: false,
    };
  },
  computed: {
    // items() {
    //   return [...this.timelines].reverse()
    // }
    isEndList() {
      return !!this.items.find((item) => item[".key"] === "w4DVhK1MzhVoLVfCSDEt");
    },
  },

  methods: {
    openNewDialog() {
      this.newDialog = true;
      this.formNew.date = this.$moment().format("YYYY-MM-DD");
    },
    async fecthList() {
      if (this.isEndList) return;

      let first = null;
      const itemPerPage = 10;

      if (this.lastVisible) {
        first = query(
          collection(db, "timelines"),
          orderBy("date", "desc"),
          startAfter(this.lastVisible),
          limit(itemPerPage)
        );
      } else {
        first = query(
          collection(db, "timelines"),
          orderBy("date", "desc"),
          limit(itemPerPage)
        );
      }

      this.loading = true;

      const documentSnapshots = await getDocs(first);

      this.items = [
        ...this.items,
        ...documentSnapshots.docs.map((doc) => {
          const data = doc.data();
          const textColor = getTextColor(data.color);

          data.date = this.$moment(new Date((data.date.seconds || 0) * 1000)).format(
            "YYYY-MM-DD"
          );

          return {
            ".key": doc.id,
            ...data,
            textColor,
          };
        }),
      ];
      this.items.forEach((item) => {
        if (item.img && !item.baseImg) {
          item.baseImg = item.img;
          getDownloadURL(ref(storage, item.img)).then((url) => {
            item.img = url;
          });
        }
      });

      this.lastVisible = documentSnapshots.docs[documentSnapshots.docs.length - 1];

      this.loading = false;
    },
    gettanggal(str) {
      if (str != null) {
        return (
          str.substring(8, 10) + "/" + str.substring(5, 7) + "/" + str.substring(0, 4)
        );
      }
      return "";
    },

    itemAction(item) {
      if (item.add) {
        this.newFormShow = true;
      } else {
        item.edit = !item.edit;
        this.formEdit.key = item[".key"];
        this.formEdit.title = item.title;
        this.formEdit.date = item.date;
        this.formEdit.content = item.content;
        this.formEdit.color = item.color;
        this.formEdit.img = item.img;
        this.formEdit.baseImg = item.baseImg;
      }
    },

    async addTimeline() {
      this.addLoading = true;
      var imgName = null;
      if (this.formNew.img) {
        const file = this.formNew.file;
        imgName = `mylove/${makeid(9)}.${file.name.split(".").pop()}`;
        const storageRef = ref(storage, imgName);
        const snapshot = await uploadBytes(storageRef, file);
      }

      const newData = {
        date: Timestamp.fromDate(new Date(this.formNew.date)),
        title: this.formNew.title,
        content: this.formNew.content,
        color: this.formNew.color,
        img: imgName,
      };

      const res = await addDoc(collection(db, "timelines"), newData);

      this.newDialog = false;
      this.formNew = {
        date: this.$moment().format("YYYY-MM-DD"),
        title: "",
        content: "",
        color: "#FF00FF",
        img: null,
        file: null,
      };
      this.addLoading = false;
      //
      this.items = [];
      this.lastVisible = null;
      //
      this.fecthList()
    },

    formNewImgChange(file) {
      if (file) {
        this.formNew.file = file;
        this.formNew.img = URL.createObjectURL(file);
      }
    },
    formNewInputClick() {
      const el = this.$refs.newFileInput.$el;

      el.querySelector("input").click();
    },
    formEditImgChange(file) {
      if (file) {
        this.formEdit.file = file;
        this.formEdit.img = URL.createObjectURL(file);
      }
    },
    formEditInputClick() {
      const el = this.$refs[`editFileInput-${this.formEdit.key}`][0];
      el.$el.querySelector("input").click();
    },
  },
  beforeDestroy() {
    if (this.unsubscribe) this.unsubscribe();
  },
  mounted() {
    this.fecthList();
  },
};
</script>

<style lang="scss" scoped></style>

<style lang="scss"></style>
