<script>
export default {
  data() {
    return {};
  },
  methods: {
    handleFormChange(e) {
      console.log(e);
    },
  },
  render() {
    return (
      <div>
        <form id="info" vOn:change={this.handleFormChange}>
          <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
          </div>
          <div>
            <label for="birthday">Birthday</label>
            <input name="birthday" type="date" id="birthday" />
          </div>

          <div>
            <label>Gender</label>
            <div>
              <input name="gender" type="radio" value="female" id="female" />
              <label for="female">female</label>
            </div>
            <div>
              <input name="gender" type="radio" value="male" id="male" />
              <label for="male">male</label>
            </div>
          </div>
          <div>
            <label>Languages</label>
            <div>
              <input
                name="languages"
                type="checkbox"
                value="vue.js"
                id="vuejs"
              />
              <label for="vuejs">vue.js</label>
            </div>
            <div>
              <input
                name="languages"
                type="checkbox"
                value="react.js"
                id="reactjs"
              />
              <label for="reactjs">react.js</label>
            </div>
            <div>
              <input
                name="languages"
                type="checkbox"
                value="angular.js"
                id="angularjs"
              />
              <label for="angularjs">angular.js</label>
            </div>
          </div>
        </form>
      </div>
    );
  },
};
</script>

<style lang="scss">
#info {
  background: #fff;
  color: #000;
  max-width: 23rem;
  input {
    background-color: #ccc;
  }
  & > div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
}
</style>